@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.chat {
  @include clearfix;

  &.static {
    margin: 0;
    background: none;
    display: none;

    &.active {
      display: block;
    }
  }

  @include grid-media($desktop-grid) {
    margin: 50px 0;
    background: #fff;
    overflow: hidden;
  }

  &-sidebar {
    padding: 30px 0;
    background: #fff;

    @include grid-media($desktop-grid) {
      float: left;
      width: 30%;
    }

    &-title {
      padding: 0 20px;
      margin: 0 0 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 22px;
      color: #383838;

      @include grid-media($desktop-grid) {
        font-size: 26px;
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 270px;

      @include grid-media($desktop-grid) {
        height: 480px;
      }

      &-item {
        padding: 10px 20px 0;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;

          .chat-sidebar-list-item-link {
            border-bottom: none;
          }
        }

        &.active {
          background: #2BA5FD;
          color: #fff;

          .chat-sidebar-list-item-link {
            border-bottom: none;
          }

          .author {
            &-name,
            &-date,
            &-message {
              color: #fff;
            }
            
            &-name {
              &.has-messages {
                &:after {
                  background: #fff;
                }
              }
            }
          }
        }

        &-link {
          position: relative;
          display: block;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6EBEE;

          .author {
            &-name {
              position: relative;
              display: inline-block;
              margin-bottom: 5px;
              line-height: 21px;
              font-size: 14px;
              color: #383838;

              @include grid-media($desktop-grid) {
                line-height: 24px;
                font-size: 16px;
              }

              &.has-messages {
                &:after {
                  position: absolute;
                  bottom: 7px;
                  right: -12px;
                  display: block;
                  content: "";
                  width: 7px;
                  height: 7px;
                  border-radius: 9999px;
                  background: #2BA5FD;
                }
              }
            }

            &-date {
              position: absolute;
              top: 0;
              right: 0;
              display: block;
              // font-style: italic;
              font-size: 11px;
              color: #98A0A4;

              @include grid-media($desktop-grid) {
                font-size: 13px;
              }
            }

            &-message {
              display: block;
              // font-style: italic;
              font-size: 11px;
              color: #98A0A4;

              @include grid-media($desktop-grid) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  &-content {
    overflow: hidden;
    position: fixed;
    z-index: 8;
    display: none;
    top: 50%;
    margin-top: -231px;
    right: 10px;
    background: #E6EBEE;
    width: 300px;

    &:before {
      display: block;
      content: "";
      position: fixed;
      z-index: -1;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    @include grid-media($desktop-grid) {
      position: relative;
      float: right;
      right: 0;
      bottom: 0;
      margin-top: initial;
      display: block;
      width: 70%;
      box-shadow: none;
    }

    &.static {
      display: none;
    }

    &.active,
    &.fixed {
      display: block;
    }

    @keyframes example {
      from {bottom: -500px;}
      to {bottom: 0;}
    }

    &.fixed {
      position: fixed;
      bottom: 0;
      right: 10px;
      width: 300px;
      height: 400px;
      margin-top: -200px;

      animation-name: example;
      animation-duration: 1s;

      @include grid-media($desktop-grid) {
        top: initial;
      }

      .chat-content {
        &-header {
          display: block;
        }

        &-messages {
          height: 278px;
          
          @include grid-media($desktop-grid) {
            height: 272px;
          }

          &-list {
            &-item {
              &.message-left,
              &.message-right {
                max-width: 90%;
              }
            }
          }
        }
      }
    }

    &-header {
      position: relative;
      height: 54px;
      background: #fff;

      @include grid-media($desktop-grid) {
        display: none;
      }

      &-name {
        padding-left: 20px;
        line-height: 54px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #383838;

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }
      }

      &-close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 20px;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        line-height: 0;
      }
    }

    &-messages {
      padding: 20px;
      height: 340px;
      background: #E6EBEE;
      font-family: "Roboto", sans-serif;

      @include grid-media($desktop-grid) {
        height: 532px;
      }

      &-list {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
          clear: both;

          &:last-child {
            div {
              margin-bottom: 0;
            }
          }
          &.message-date {
            text-align: center;
            margin: 15px 0;

            div {
              display: inline-block;
              padding: 0 15px;
              background: #F2F5F7;
              line-height: 26px;
              font-size: 11px;
              color: #98A0A4;

              @include grid-media($desktop-grid) {
                font-size: 13px;
              }
            }
          }
          
          &.message-left,
          &.message-right {
            margin-bottom: 5px;
            width: 90%;
            
            @include grid-media($desktop-grid) {
              max-width: 35%;
            }

            div {
              position: relative;
              padding: 10px 60px 10px 10px;
              background: #fff;
              line-height: 21px;
              font-size: 14px;
              color: #383838;

              @include grid-media($desktop-grid) {
                line-height: 24px;
                font-size: 16px;
              }

              &.new {
                background: #F2F5F7;
              }

              .message-hour {
                display: block;
                position: absolute;
                right: 10px;
                bottom: 10px;
                line-height: 11px;
                font-size: 11px;
                color: #98A0A4;

                @include grid-media($desktop-grid) {
                  font-size: 13px;
                }
              }
            }
          }
          
          &.message-left {
            float: left;
          }
          
          &.message-right {
            float: right;

            div {
              background: #F2F5F7;
            }
          }
        }
      }
    }

    &-form {
      position: relative;
      bottom: 0;
      padding: 15px 20px;
      background: #fff;

      @include grid-media($desktop-grid) {
        background: #F2F5F7;
        bottom: -5px;
        height: 68px;
      }

      &-input {
        outline: none;
        padding: 0 58px 0 20px;
        width: 100%;
        height: 38px;
        border: 2px solid #383838;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #98A0A4;

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }

        &::placeholder {
          color: #98A0A4;
        }
      }

      &-submit {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 20px;
        display: block;
        margin: 0;
        padding: 0;
        width: 38px;
        height: 38px;
        background: #2BA5FD;
        border: none;
        line-height: 0;

        &:hover {
          background: #383838;
        }
      }
    }
  }
}
