title = "Chat"
url = "/chat/:id?"
layout = "default"

[chat]
id = "{{ :id }}"
==
<div class="wrapper">
  <div class="chat bshdw">
    <aside class="chat-sidebar">
      <h1 class="chat-sidebar-title">Chat</h1>
      <ul class="chat-sidebar-list">
        {% for key, conversation in chat.all %}
        <li class="chat-sidebar-list-item {{key == chat.current['id'] ? 'active'}}">
          <a 
              id="chat-list-item-{{key}}"
              class="chat-sidebar-list-item-link" 
              title="Chat with {{conversation.userName}}"
              data-request="onChatLoad" 
              data-request-url="/chat/{{key}}"
              data-request-success="showConversation(this, data)"
          >
              <span class="author-name {{conversation.hasUnread ? 'has-messages'}}">
                  {{conversation.userName | slice(0, 20)}}...
              </span>
              <span class="author-date">{{conversation.lastMessage.created_at | chatDate}}</span>
              <span class="author-message">{{conversation.lastMessage.content}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    <div id="chat-box" class="chat-content bshdw">
      {% partial 'chat/messagesbox.htm' %}
    </div>
  </div>
</div>
