@import "icons";

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: Open Sans;
	margin: 0;
  background: #f2f5f7;
}

a{
	color: $t-primary;
	text-decoration: none;
	font-weight: 700;
}

* {
  // outline: none;
  box-sizing: border-box;
}

input, textarea {
  color: #383838 !important;
}