.form-line {
  position: relative;
  margin-bottom: 15px;
  width: 100%;

  @include grid-media($desktop-grid) {
    margin-bottom: 20px;
  }

  &.arrow-down {
    &:before {
      position: absolute;
      right: 15px;
      bottom: 16px;
      display: block;
      content: "";
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #383838;
    }
  }

  .form-logo {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .form-title {
    margin: 0 0 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #383838;

    @include grid-media($desktop-grid) {
      font-size: 26px;
    }
  }

  .form-desc {
    margin: 0 0 15px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;   

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    } 
  }

  .form-help {
    margin: 5px 0 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #98A0A4;

    a {
      text-decoration: underline;
      font-weight: 400;
      font-weight: 400;
      color: #98A0A4;
    }
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }
  }

  .form-input,
  .form-textarea {
    outline: none;
    display: block;
    width: 100%;
    height: 38px;
    padding: 5px 20px;
    background: transparent;
    border: 2px solid #383838;
    line-height: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #98A0A4;

    &:focus {
      outline: none;
    }

    &:disabled {
      border: 2px solid #98A0A4;
      color: #98A0A4 !important;
    }

    @include grid-media($desktop-grid) {
      font-size: 16px;
    }
  }
  
  .form-textarea {
    line-height: 21px;
    height: 170px;
  }

  .form-select {
    padding: 0 20px;
    width: 100%;
    height: 38px;
    border: 2px solid #383838;
    border-radius: 0;
    border-color: #383838;
    background: transparent;
    line-height: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;
    
    @include grid-media($desktop-grid) {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 16px;
    }
  }

  .form-checkbox {
    @include clearfix;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }

    input[type=checkbox] {
      float: left;
      display: block;
      margin: 0 15px 0 0;
      padding: 0;
      width: 18px;
      height: 18px;
      border: 2px solid #383838;
      border-radius: 3px;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:checked {
        background: url('/themes/frontend/assets/images/checkbox.svg');
        border: none;
      }
    }

    &-label {
      float: left;
      width: 80%;
      text-align: center;
    }
  }


  .form-input::placeholder {
    color: #98A0A4;
  }
}
