@charset "UTF-8";

@font-face {
	font-family: "boilerplate";
	src:url("/themes/frontend/assets/fonts/boilerplate.eot");
	src:url("/themes/frontend/assets/fonts/boilerplate.eot?#iefix") format("embedded-opentype"),
	url("/themes/frontend/assets/fonts/boilerplate.woff") format("woff"),
	url("/themes/frontend/assets/fonts/boilerplate.ttf") format("truetype"),
	url("/themes/frontend/assets/fonts/boilerplate.svg#boilerplate") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "boilerplate" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "boilerplate" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\63";
}

.icon-hamburger:before {
	content: "\65";
}
.icon-play:before {
	content: "\66";
}
.icon-stop:before {
	content: "\67";
}
.icon-pause:before {
	content: "\68";
}
.icon-arrow-left:before {
	content: "\69";
}
.icon-arrow-down:before {
	content: "\6a";
}
.icon-arrow-up:before {
	content: "\6b";
}
.icon-arrow-right:before {
	content: "\6c";
}
.icon-checkmark:before {
	content: "\6d";
}

.cicon {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.cicon18 {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.icon-close {
	background: url('/themes/frontend/assets/images/icon-close.svg');
}

.icon-close-w {
	background: url('/themes/frontend/assets/images/icon-close-w.svg');
}

.icon-view {
	background: url('/themes/frontend/assets/images/icon-view.svg');
}

.icon-phone {
	background: url('/themes/frontend/assets/images/icon-phone.svg');
}

.icon-chat {
	background: url('/themes/frontend/assets/images/chat-white-icon.svg');
}

.icon-chat-dark {
	background: url('/themes/frontend/assets/images/chat-dark-icon.svg');

	&:hover {
		background: url('/themes/frontend/assets/images/chat-dark-icon-hover.svg');
	}
}

.icon-user {
	background: url('/themes/frontend/assets/images/user-icon.svg');

	&:hover {
		background: url('/themes/frontend/assets/images/user-icon-hover.svg');
	}
}

.icon-help {
	background: url('/themes/frontend/assets/images/help-icon.svg');

	&:hover {
		background: url('/themes/frontend/assets/images/help-icon-hover.svg');
	}
}

.icon-facebook {
	background: url('/themes/frontend/assets/images/facebook-icon.svg');

	&:hover {
		background: url('/themes/frontend/assets/images/facebook-icon-hover.svg');
	}
}

.icon-facebook-c {
	background: url('/themes/frontend/assets/images/icon-facebook.svg');
}


.icon-twitter {
	background: url('/themes/frontend/assets/images/twitter-icon.svg');

	&:hover {
		background: url('/themes/frontend/assets/images/twitter-icon-hover.svg');
	}
}

.icon-twitter-c {
	background: url('/themes/frontend/assets/images/icon-twitter.svg');
}

.icon-star {
	background: url('/themes/frontend/assets/images/star-icon.svg');

	&.active,
	&:hover {
		background: url('/themes/frontend/assets/images/star-icon-active.svg');
	}
}

.icon-filter {
	background: url('/themes/frontend/assets/images/filter-icon.svg');
}

.icon-edit {
	background: url('/themes/frontend/assets/images/icon-edit.svg');
}

.icon-delete {
	background: url('/themes/frontend/assets/images/icon-delete.svg');
}

.icon-ok {
	background: url('/themes/frontend/assets/images/icon-ok.svg');
}

.icon-thumbsup {
	background: url('/themes/frontend/assets/images/icon-thumbsup.svg');
}

.icon-thumbsdown {
	background: url('/themes/frontend/assets/images/icon-thumbsdown.svg');
}

.icon-right {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('/themes/frontend/assets/images/icon-right.svg');
}

.icon-right-dark {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('/themes/frontend/assets/images/icon-right-dark.svg');
}

.icon-left-dark {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('/themes/frontend/assets/images/icon-left-dark.svg');
}

.icon-send {
	background: url('/themes/frontend/assets/images/icon-send.svg');
}

.icon-video {
	background: url('/themes/frontend/assets/images/icon-video.svg');
}

.icon-alert {
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url('/themes/frontend/assets/images/alert-icon.svg');
}
