.wrapper {
  @include outer-container;
  @include clearfix;
  padding: 20px;

  @include grid-media($desktop-grid) {
    padding: 0;
  }
}

.gl-article {
  font-family: "Roboto", sans-serif;
  color: #383838;

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px 0;
    font-weight: 500;
  }

  p, ul, ol {
    margin: 0 0 30px 0;
    line-height: 21px;
    font-size: 14px;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }
  }

  h1 {
    font-size: 22px;

    @include grid-media($desktop-grid) {
      font-size: 26px;
    }
  }

  figure {
    max-width: 320px;
    margin: 0 auto 30px;
    padding: 0;

    figcaption {
      margin-top: 10px;
      text-align: center;
      font-size: 11px;
      color: #98A0A4;

      @include grid-media($desktop-grid) {
        font-size: 14px;
      }
    }
  }
}

.gl-article-votes {
  font-family: "Roboto", sans-serif;
  text-align: center;

  p {
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #383838;

    @include grid-media($desktop-grid) {
      font-size: 22px;
    }
  }

  a {
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px 6px;
    border: 2px solid #383838;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      font-size: 16px;
    }

    &:hover {
      background: #383838;
      color: #fff;

      &.thumbsup {
        .cicon {
          background: url('/themes/frontend/assets/images/icon-thumbsup-w.svg');
        }
      }

      &.thumbsdown {
        .cicon {
          background: url('/themes/frontend/assets/images/icon-thumbsdown-w.svg');
        }
      }
    }

    .cicon {
      position: relative;
      margin-left: 5px;
      bottom: -5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// Buttons
.gl-blue-button {
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  background: #2BA5FD;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-size: 16px;
  color: #fff !important;
  border: none;

  &:hover {
    background: #383838;
  }
}

.gl-green-button {
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  height: 38px;
  background: #98A0A4;
  border: none;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-size: 16px;
  color: #fff !important;
}

.gl-leaked-button {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0 20px;
  height: 38px;
  background: none;
  border: none;
  text-transform: uppercase;
  line-height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2BA5FD;

  @include grid-media($desktop-grid) {
    font-size: 16px;
  }
}

.gl-red-button {
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  height: 38px;
  background: #F14F44;
  border: 2px solid #F14F44;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-size: 16px;
  color: #fff !important;
}

.gl-gray-button {
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  height: 38px;
  border: 2px solid #383838;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-size: 16px;
  color: #383838 !important;

  &:hover {
    background: #383838;
    color: #fff !important;
  }
}

// Margins
.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

// Texts
.topic-title {
  margin: 0 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #383838;

  @include grid-media($desktop-grid) {
    margin-bottom: 25px;
    font-size: 26px;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.v-align {
  display: table;
  width: 100%;
  height: 100%;

  .v-align-middle {
    display: table-cell;
    vertical-align: middle;
  }
}

.bshdw {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

// Global elements
.gl-sales-item {
  @include clearfix;
  position: relative;
  padding: 20px;
  background: #fff;

  .gl-sales-item-date {
    margin: 0 0 20px 0;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #98A0A4;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }
    
    .gl-sales-item-badge {
      display: inline-block;
      margin-left: 10px;
      padding: 0 5px;
      height: 17px;
      line-height: 17px;
      font-size: 11px;
      color: #383838;

      @include grid-media($desktop-grid) {
        font-size: 13px;
      }

      &.wait {
        background: #FFEA5F;
      }

      &.blocked {
        background: #FFB0B0;
      }

      &.published {
        background: #B3EC7A;
      }

      &.finished {
        background: #E6EBEE;
      }
    }
  }

  .gl-sales-item-desc {
    margin: 0 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 19px;

    @include grid-media($desktop-grid) {
      margin-bottom: 15px;
      font-size: 22px;
    }

    a {
      font-weight: 400;
      color: #383838;

      &:hover {
        color: #2BA5FD;
      }
    }
  }

  .gl-sales-item-cat {
    @include clearfix;
    display: block;
    margin: 0 0 10px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;

    @include grid-media($desktop-grid) {
      margin-bottom: 15px;
      line-height: 24px;
      font-size: 16px;
    }

    &-m,
    &-s {
      float: left;
      display: block;
      padding: 0 5px;
    }

    &-m {
      background: #6469FA;
      text-transform: uppercase;
    }

    &-s {
      background: #6469FA;
      opacity: 0.7;
    }
  }

  .gl-sales-item-price {
    margin: 0 0 10px;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #383838;

    @include grid-media($desktop-grid) {
      float: left;
      margin: 0 25px 0 0;
      line-height: 36px;
      font-size: 26px;
    }
  }

  .gl-sales-item-price-desc {
    border-left: 1px solid #98A0A4;
    padding-left: 10px;

    @include grid-media($desktop-grid) {
      float: left;
    }

    &-l {
      margin: 0 0 5px;
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      color: #98A0A4;

      @include grid-media($desktop-grid) {
        margin-bottom: 0;
        font-size: 13px;
      }
    }

    &-p {
      margin: 0;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #383838;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }

      b {
        font-weight: 400;
        color: #98A0A4;
      }     
    }
  }

  .gl-sales-item-author {
    float: left;
    width: 100%;
    margin-top: 20px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      margin-top: 30px;
      line-height: 24px;
      font-size: 16px;
    }

    &-name {
      margin: 0;
    }

    &-phone {
      margin: 0;

      a {
        text-transform: uppercase;
        font-weight: 700;
        color: #2BA5FD;
      }
    }
  }

  .gl-sales-item-chat {
    margin: 15px 0 0;
    padding: 0 20px;

    @include grid-media($desktop-grid) {
      margin-top: 20px;
    }

    .icon-chat {
      position: relative;
      top: 6px;
      margin-right: 15px;
    }
  }

  .gl-sales-item-list {
    margin: 15px 0 0 15px;
    padding: 0;
    // list-style: none;
    line-height: initial !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #98A0A4;

    @include grid-media($desktop-grid) {
      margin-top: 30px;
      font-size: 13px;
    }

    &-item {
      &.item-title {
        margin: 0 0 10px -15px;
        font-size: 14px;
        color: #383838;

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }

        .icon-alert {
          margin-right: 5px;
        }
      }

      &:last-child {
        margin-top: 5px;
      }

      a {
        text-decoration: underline;
        font-weight: 400;
        color: #98A0A4;
      }
    }
  }

  .gl-sales-item-star {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    bottom: 20px;
    right: 20px;
  }

  .gl-sales-item-options {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    @include grid-media($desktop-grid) {
      float: left;
      width: 100%;
    }
    
    .gl-sales-item-option {
      margin-bottom: 20px;

      @include grid-media($desktop-grid) {
        margin-bottom: 0;
        margin-right: 20px;
        display: inline-block;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-weight: 700;
        color: #383838;

        &.remove-item {
          &:hover {
            color: #F14F44;
          }
        }

        &:hover {
          color: #2BA5FD;

          .cicon {
            &.icon-delete {
              background: url('/themes/frontend/images/icon-remove-h.svg');
            }

            &.icon-edit {
              background: url('/themes/frontend/images/icon-edit-h.svg');
            }

            &.icon-ok {
              background: url('/themes/frontend/images/icon-check-h.svg');
            }
          }
        }

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }

        .cicon {
          position: relative;
          top: 6px;
        }
      }
    }
  }

  .gl-sales-item-blocked {
    clear: both;
    margin: 20px -20px -20px;
    padding: 20px;
    background: #FFB0B0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #383838;

    @include grid-media($desktop-grid) {
      position: relative;
      top: 20px;
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .gl-sales-item-views {
    @include clearfix;
    clear: both;
    margin: 20px -20px -20px;
    padding: 10px 20px 20px 20px;
    background: #F2F5F7;
    text-align: center;

    @include grid-media($desktop-grid) {
      position: relative;
      padding: 0;
      top: 20px;
      margin-bottom: 0;
    }
    
    .gl-sales-item-views-info {
      margin: 0 0 20px;
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 11px;
      color: #98A0A4;
      
      @include grid-media($desktop-grid) {
        float: left;
        margin: 0 0 0 20px;
        line-height: 38px;
        font-size: 13px;
      }

      .cicon18 {
        position: relative;
        top: 5px;
      }
    }
    
    .gl-sales-item-views-plan {
      margin: 0 0 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 11px;
      color: #383838;
      
      @include grid-media($desktop-grid) {
        float: left;
        margin: 0 0 0 10%;
        line-height: 38px;
        font-size: 13px;
      }
    }

    .gl-blue-button {
      @include grid-media($desktop-grid) {
        float: right;
        font-size: 16px;
      }
    }
  }
}

.gl-category-item {
  padding: 20px;
  background: #fff;

  .gl-category-item-icon {
    width: 100%;
    height: 112px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .gl-category-item-title {
    display: inline-block;
    margin: 0 0 20px -23px;
    padding: 0 15px 0 18px;
    height: 39px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #fff;

    @include grid-media($desktop-grid) {
      font-size: 22px;
    }

    &-f {
      background: #6469FA;
    }

    &-s {
      background: #577EFF;
    }

    &-t {
      background: #4790FE;
    }

    &-ff {
      background: #34A4FA;
    }

    &-fv {
      background: #0FBFD6;
    }

    &-st {
      background: #17B6EB;
    }
  }
  
  .gl-category-item-desc {
    margin: 0 0 20px 0;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }
  }
  
  .gl-category-item-links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 27px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    @include grid-media($desktop-grid) {
      font-size: 16px;
    }
    
    .gl-category-item-link {
      margin: 0;
      padding: 0;
      border: 2px solid #383838;
      display: inline-block;

      &:hover {
        background: #383838;
        color: #fff;

        a {
          color: #fff;
        }
      }

      &:last-child {
        border-left: none;
        margin-left: -4px;
      }

      a {
        padding: 20px;
        color: #383838;
      }
    }
  }
}

.gl-breadcrumbs {
  padding: 0 20px;
  background: #E6EBEE;
  height: 40px;

  &.invert {
    background: none;
  }

  &__content {
    @include outer-container;
    line-height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #98A0A4;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            display: inline;
        }

        li ~ li:before {
            content: "/"
        }
    }
    
    a {
      font-weight: 400;
      color: #98A0A4;

      &:hover {
        color: #2BA5FD;
        // text-decoration: underline;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);

  &.active {
    display: block;
  }

  &.modal-video {
    .modal-content {
      padding: 0;
      width: 90%;
      height: 90%;
    }
  }

  .modal-content {
    position: relative;
    margin: 0 10px;
    background: #fff;
    padding: 20px;

    @include grid-media($desktop-grid) {
      margin: 0 auto;
      width: 450px;
    }

    .modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
    }

    .modal-title {
      margin: 0 0 20px 0;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 22px;
      color: #383838;
    }

    .modal-desc {
      margin: 0 0 25px 0;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #383838;
    }

    .modal-options {
      margin: 0;
      padding: 0;
      list-style: none;
    
      .modal-option {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .gl-red-button,
        .gl-blue-button,
        .gl-gray-button {
          width: 100%;
        }
      }
    }

    .modal-play {
      width: 100%;
      height: 100%;
      
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

}


.mb50 {
  margin-bottom: 50px !important;
}














