.account {
  @include clearfix;

  

  &-sidebar {
    @include grid-media($desktop-grid) {
      float: left;
      margin: 50px 0;
      width: 15%;
    }

    &-list {
      margin: 0 0 30px;
      padding: 0;
      list-style: none;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;

      @include grid-media($desktop-grid) {
        font-size: 16px;
      }

      &-item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-weight: 400;
          color: #383838;

          &.active {
            color: #2BA5FD;
          }
        }
      }
    }

    form {
      @include grid-media($desktop-grid) {
        display: none;
      }
    }
  }

  &-content {
    background: #fff;
    margin: 0 -10px;
    padding: 30px 20px;

    @include grid-media($desktop-grid) {
      float: left;
      margin: 50px 0 100px 0;
      width: 85%;
    }

    form {
      margin-bottom: 30px;

      @include grid-media($desktop-grid) {
        margin-bottom: 50px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-items {
    @include grid-media($desktop-grid) {
      float: left;
      margin: 50px 0 50px 5%;
      width: 80%;
    }

    &-nav {
      display: none;
      margin-bottom: 20px;
      border-bottom: 1px solid #E6EBEE;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      
      @include grid-media($desktop-grid) {
        display: block;
      }

      a {
        margin-bottom: -1px;
        display: inline-block;
        padding: 5px 20px;
        font-weight: 400;
        color: #98A0A4;

        &.active {
          color: #2BA5FD;
          border-bottom: 1px solid #2BA5FD;
        }
      }
    }
    
    .gl-sales-item {
      margin: 0 -10px 10px;
      
      @include grid-media($desktop-grid) {
        margin: 0 0 25px 0;
      }
    }
  }
}