title = "Conta"
url = "/conta/:slug/:status?"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[account]
slug = {{ :slug }}
status = {{ :status }}
==
<div class="wrapper">
  <aside class="account-sidebar">
    <ul class="account-sidebar-list">
      <li class="account-sidebar-list-item">
        <a class="{{ this.param.slug == 'meus-dados' ? 'active' : '' }}" href="/conta/meus-dados" title="Meus Dados">Meus Dados</a>
      </li>
      <li class="account-sidebar-list-item">
        <a class="{{ this.param.slug == 'meus-anuncios' ? 'active' : '' }}" href="/conta/meus-anuncios" title="Meus Anúncios">Meus Anúncios</a>
      </li>
      <li class="account-sidebar-list-item">
        <a class="{{ this.param.slug == 'meus-favoritos' ? 'active' : '' }}"  href="/conta/meus-favoritos" title="Meus Favoritos">Meus Favoritos</a>
      </li>
    </ul>

    {% if this.param.slug == "meus-anuncios" %}
      <form action="">
        <div class="form-line arrow-down">
            <select class="form-select" name="filtro" onchange="window.location.href = '/conta/meus-anuncios/' + this.value">
              {% for value, name in account.statusFilters %}
                <option {{ value == account.statusSlug ? 'selected' }} value="{{value}}">{{name}}</option>
              {% endfor %}
            </select>
        </div>
      </form>
    {% endif %}
  </aside>

  {% partial "conta/" ~ this.param.slug ~ ".htm" %}

</div>