title = "Cadastrar"
url = "/cadastrar"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[register]
paramCode = "code"
forceSecure = 0
redirect = '/'
==
<style>
  .forms-desc,
  .form-help {
    font-size: 13px !important;
  }

  .forms-desc,
  .forms-link {
    color: #383838;
  }
  .forms-link {
    font-size: 16px;
  }
</style>
{% if canRegister %}
<div class="forms-wrapper">
  {% partial 'conta/cadastrar-form.htm' %}
  <p class="forms-desc">Já possui uma conta?</p>
  <div class="forms-links">
    <a class="forms-link" href="/entrar" title="Entrar">Entrar</a>
  </div>
</div>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
