.contato {
  @include grid-media($desktop-grid) {
    margin: 50px 0 100px 0;
  }

  &-form {
    margin: 0 -10px 30px;
    padding: 20px;
    background: #fff;

    @include grid-media($desktop-grid) {
      margin: 0 auto 30px auto;
      padding: 30px;
      max-width: 750px;
    }
  }

  &-desc {
    text-align: center;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838;

    @include grid-media($desktop-grid) {
      line-height: 24px;
      font-size: 16px;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    color: #383838;

    @include grid-media($desktop-grid) {
      margin-bottom: 50px;
    }

    &-item {
      display: inline-block;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-weight: 400;
        color: #383838;
      }

      .cicon {
        position: relative;
        top: 6px;
      }
    }
  }

   &-sent {
    margin: 0 -10px 30px;
    padding: 20px;
    background: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #383838;
    
    @include grid-media($desktop-grid) {
      margin: 0 0 30px;
      padding: 30px;
    }

    img {
      display: inline-block;
      margin-bottom: 30px;
    }

    &-title {
      margin: 0 0 20px 0;
      font-weight: 500;
      font-size: 22px;

      @include grid-media($desktop-grid) {
        font-size: 26px;
      }
    }

    &-desc {
      margin: 0;
      line-height: 21px;
      font-weight: 400;
      font-size: 14px;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}