title = "Contato"
url = "/contato"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[contactform]
toEmail = "mariannactx@gmail.com"
toName = "Marianna"
description = "Lorem ipsum dolor sit amet, descriptium adipiscing elit. Sed vel ex condimentum."
sentMessage = "Lorem ipsum dolor sit amet, sent adipiscing elit. Sed vel ex condimentum."
==
<div class="wrapper">
  <div id="contato" class="contato">
    <form class="contato-form bshdw" 
    data-request="onSend"
    data-request-success="mailSent(data)"
    >
      <div class="form-line">
        <h2 class="form-title">Fale Conosco</h2>
        <p class="form-desc">{{ contactform.property('description') }}</p>
      </div>
      <div class="form-line">
        <label class="form-label" for="">Nome</label>
        <input class="form-input" type="text" name="name" placeholder="Digite aqui seu nome">
      </div>
      <div class="form-line">
        <label class="form-label" for="">E-mail</label>
        <input class="form-input" type="email" name="email" placeholder="Seu e-mail">
      </div>
      <div class="form-line">
        <label class="form-label" for="">Mensagem</label>
        <textarea class="form-textarea" name="content" placeholder="Escreva aqui sua mensagem"></textarea>
      </div>
      <div class="form-line">
        <button class="gl-blue-button" type="submit">Enviar</button>
      </div>
    </form>
  </div>

    <p class="contato-desc">Você também pode nos encontrar nas redes sociais:</p>

    <ul class="contato-list">
      <li class="contato-list-item">
        <a target="_blank" href="" title="Facebook" rel="nofollow">
          <i class="cicon icon-facebook-c"></i>/legalinvest
        </a>
      </li>
      <li class="contato-list-item">
        <a target="_blank" href="" title="Twitter" rel="nofollow">
          <i class="cicon icon-twitter-c"></i>@legalinvest
        </a>
      </li>
    </ul>
</div>