<form class="forms-form bshdw" data-request="onCustomRegister">
    <div class="form-line">
      <a class="form-logo" href="/" title="Legal Invest">
                <img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="Legal Invest">
      </a>
    </div>
    <div class="form-line">
      <h2 class="form-title">Cadastrar conta</h2>
    </div>
        
    <div class="form-line">
      <label class="form-label" for="name">Nome</label>
      <input
              name="name"
              type="text"
              class="form-input"
              placeholder="Nome a ser exibido no Legal Invest" 
      />
    </div>

    <div class="form-line">
        <label class="form-label" for="name">Sobrenome</label>
        <input
                name="surname"
                type="text"
                class="form-input"
                placeholder="Sobrenome" 
        />
    </div>

    <div class="form-line">
        <label class="form-label" for="name">Data de nascimento</label>
        <input
                name="birthday"
                type="date"
                class="form-input"
                placeholder="mm/dd/aaaa" 
        />
    </div>

    <div class="form-line">
        <label class="form-label" for="name">CPF</label>
        <input
                name="cpf"
                type="text"
                class="form-input"
                placeholder="" 
        />
    </div>

    <div class="form-line">
        <label class="form-label" for="name">Telefone</label>
        <input
                name="phone"
                type="text"
                class="form-input"
                placeholder="" 
        />
    </div>

    <div class="form-line">
      <label class="form-label" for="email">Email</label>
      <input
              name="email"
              type="email"
              class="form-input"
              id="registerEmail"
              placeholder="Seu e-mail" />
    </div>
    <div class="form-line">
      <label class="form-label" for="password">Senha</label>
      <!-- <input id="password" class="form-input" type="password" name="password" placeholder="Insira uma senha"> -->
      <input id="registerPassword" class="form-input" type="password" name="password" placeholder="Insira uma senha">
    </div>
    <div class="form-line">
      <button class="gl-blue-button" type="submit">Criar conta</button>
    </div>
    <div class="form-line mb0">
      <p class="form-help">Ao continuar, você concorda com nossos <a href="/termos" title="Termos de Uso">Termos de Uso</a> e a <a href="/privacidade" title="Política de Privacidade">Política de Privacidade</a>.</p>
    </div>
</form>