<form class="forms-form bshdw" data-request="onSignin" data-request-data="redirect: '/'" data-request-success="showFlash(data)">
    <div class="form-line">
        <a class="form-logo" href="/" title="Legal Invest">
        <img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="Legal Invest">
        </a>
    </div>
    <div class="form-line">
        <h2 class="form-title">Acesse sua conta</h2>
    </div>
    <div class="form-line">
        <label class="form-label" for="email">Email</label>
        <input id="login" class="form-input" type="email" name="login" placeholder="Seu e-mail de cadastro">
    </div>
    <div class="form-line">
        <label class="form-label" for="password">Senha</label>
        <input id="password" class="form-input" type="password" name="password" placeholder="Sua senha">
        <p class="form-help recovery-password">
        <a href="/recuperarsenha" title="Esqueceu a senha?" >Esqueceu a senha?</a>
        </p>
    </div>
    <div class="form-line mb0">
        <button class="gl-blue-button" type="submit">Entrar</button>
    </div>
</form>