<div class="account-items">
    {% for fav in account.ads %}
        <div class="gl-sales-item bshdw">
        <p class="gl-sales-item-desc">
            <a href="/anuncio/{{fav.ad.slug}}" title="">{{fav.ad.title}}</a>
        </p>
        
        <a class="gl-sales-item-cat" href="/busca/{{fav.ad.category.slug}}" title="">
            <span class="gl-sales-item-cat-m">{{fav.ad.category.name}}</span>
            <span class="gl-sales-item-cat-s">{{fav.ad.subcategory.name}}</span>
        </a>

        <p class="gl-sales-item-price">{{fav.ad.price_partial | number_format(2, ',', '.')}}</p>

        <div class="gl-sales-item-price-desc">
            <p class="gl-sales-item-price-desc-l">Valor do Processo</p>
            <p class="gl-sales-item-price-desc-p">R$ {{fav.ad.price_total | number_format(2, ',', '.')}} <b>({{fav.ad.price_diff}})</b></p>
        </div>

        {% if user %}        
        <a class="gl-sales-item-star" 
            data-request="onToggleFavorite" 
            data-request-url="/conta/toggle-favorite/{{fav.ad_id}}" 
            data-request-success="toggleFavoriteStar(this, data)"
            title="Favoritar">
            <i class="cicon icon-star active"></i>
        </a>
        {% endif %}

        </div>
    {% endfor %}
</div>  