<div id="modal-ok" class="modal">
        <div class="v-align">
          <div class="v-align-middle">
      
            <div class="modal-content">
              <button class="modal-close modal-close-button">
                <i class="cicon icon-close"></i>
              </button>
      
              <h4 class="modal-title">Que bom que vendeu</h4>
      
              <p class="modal-desc">Ao confirmar a venda, seu anúncio automaticamente deixará de ser exibido no Legal Invest. Tem certeza que deseja prosseguir?</p>
      
              <ul class="modal-options">
                <li class="modal-option ad-action">
                  <a class="gl-gray-button" href="" title="Vendi pela legal invest"
                    data-request="onCloseAd" 
                    data-request-url="/anuncio/fechar/legal-invest"
                    data-request-data="id:"
                    data-request-success="location.reload()"
                    >Vendi pela legal invest</a>
                </li>
                <li class="modal-option ad-action">
                  <a class="gl-gray-button" href="" title="Vendi por outros meios"
                    data-request="onCloseAd" 
                    data-request-url="/anuncio/fechar/outros"
                    data-request-data="id:"
                    data-request-success="location.reload()"
                    >Vendi por outros meios</a>
                </li>
                <li class="modal-option">
                  <a class="modal-close-button gl-gray-button" href="" title="Ops! Não vendi ainda">Ops! Não vendi ainda</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
</div>
      
<div id="modal-delete" class="modal">
<div class="v-align">
    <div class="v-align-middle">

    <div class="modal-content">
        <button class="modal-close modal-close-button">
        <i class="cicon icon-close"></i>
        </button>

        <h4 class="modal-title">Remover anúncio?</h4>

        <p class="modal-desc">Tem certeza que deseja remover seu anúncio?</p>

        <ul class="modal-options">
            <li class="modal-option ad-action">
                <a class="gl-red-button" href="" title="Remover anúncio"
                   data-request="onRemoveAd" 
                   data-request-url="/anuncio/remover"
                   data-request-data="id:"
                   data-request-success="location.reload()"
                >Remover anúncio</a>
            </li>
            <li class="modal-option ad-action">
                <a class="gl-gray-button" href="" title="Eu já vendi o produto"
                data-request="onCloseAd" 
                data-request-url="/anuncio/fechar/outros"
                data-request-data="id:"
                data-request-success="location.reload()"
                >Eu já vendi o produto</a>
            </li>
            <li class="modal-option ad-action">
                <a class="gl-gray-button" href="" title="Desisti de vender"
                data-request="onRemoveAd" 
                data-request-url="/anuncio/remover"
                data-request-data="id:"
                data-request-success="location.reload()"
                >Desisti de vender</a>
            </li>
            <li class="modal-option">
                <a class="modal-close-button gl-gray-button" href="" title="Voltar">Voltar</a>
            </li>
        </ul>
    </div>
    </div>
</div>
</div>

<div id="account-items" class="account-items">
    <nav class="account-items-nav">
        {% for value, name in account.statusFilters %}
            {% set selected = value == account.statusSlug %}
            {% set link = '/conta/meus-anuncios/' ~ value %}
            <a {{ selected ? 'class="active"'}} href="{{link}}" title="{{name}}">{{name}}</a>
        {% endfor %}
    </nav>

    {% for ad in account.ads %}
    <div class="gl-sales-item bshdw">
        <p class="gl-sales-item-date">{{ad.updated_at | date("d/m/Y \- H:i")}} 
                <span class="gl-sales-item-badge {{ad.status | adStatusClass}}"> {{ad.status | adStatusName}} </span></p>
    
        <p class="gl-sales-item-desc">
            <a href="/anuncio/{{ ad.slug }}" title="">{{ad.title}}</a>
        </p>
        
        <a class="gl-sales-item-cat" href="/busca/{{ad.category.slug}}" title="">
            <span class="gl-sales-item-cat-m">{{ad.category.name}}</span>
            <span class="gl-sales-item-cat-s">{{ad.subcategory.name}}</span>
        </a>

        <p class="gl-sales-item-price">R$ {{ad.price_partial | number_format(2, ',', '.')}}</p>
    
        <div class="gl-sales-item-price-desc">
            <p class="gl-sales-item-price-desc-l">Valor do Processo</p>
            <p class="gl-sales-item-price-desc-p">R$  {{ad.price_total | number_format(2, ',', '.')}} <b>({{ad.price_diff}})</b></p>
        </div>

        {% if (ad.status < 3) %}
            <ul class="gl-sales-item-options">
                <li class="gl-sales-item-option">
                <a href="/anuncio/editar/{{ad.id}}" title="Editar"><i class="cicon icon-edit"></i> Editar</a>
                </li>
                <li class="gl-sales-item-option">
                <a class="modal-button remove-item" href="" title="Remover" 
                    data-target="#modal-delete" 
                    data-id="{{ad.id}}"
                ><i class="cicon icon-delete"></i> Remover</a>
                </li>
                {% if ad.status == 1 %}
                    <li class="gl-sales-item-option">
                    <a class="modal-button" href="" title="Já vendi" 
                    data-target="#modal-ok"
                    data-id="{{ad.id}}"
                    ><i class="cicon icon-ok"></i> Já vendi</a>
                    </li>
                {% endif %}
            </ul>

            {% if ad.status == 2 %}
                <p class="gl-sales-item-blocked">Seu anúncio foi suspenso pelo seguinte motivo: <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec quam suscipit, luctus libero sed, maximus est.</p>
            {% endif %}

            {% if ad.status == 1 %}
                <div class="gl-sales-item-views">
                    <p class="gl-sales-item-views-info"><i class="cicon18 icon-view"></i> {{ad.views}} viram este anúncio <i class="cicon18 icon-phone"></i> {{ad.views_phone}} viram seu telefone</p>
                    <p class="gl-sales-item-views-plan">Dê até 15x mais visualizações a este anúncio</p>
                    <a class="gl-blue-button" href="/anuncio/turbinar/{{ad.id}}" title="Destacar anúncio">Destacar anúncio</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>