{{ form_ajax('onUpdate', { validate: true }) }}
    <div class="form-line">
        <h2 class="form-title">Dados Pessoais</h2>
        </div>
        <div class="form-line">
            <label class="form-label" for="">Nome</label>
            <input class="form-input" type="text" name="name" value="{{user.name}}">
            <div data-validate-for="name"></div>
        </div>
        <div class="form-line">
            <label class="form-label" for="">Sobrenome</label>
            <input class="form-input" type="text" name="surname" value="{{user.surname}}">
            <div data-validate-for="surname"></div>
        </div>
        <div class="form-line">
            <label class="form-label" for="">CPF</label>
            <input class="form-input" type="text" name="cpf" value="{{user.cpf}}">
            <div data-validate-for="cpf"></div>
        </div>
        <div class="form-line">
            <label class="form-label" for="">Data de Nascimento</label>
            <input class="form-input" type="date" name="birthday" value="{{user.birthday}}">
            <div data-validate-for="birthday"></div>
        </div>
        <div class="form-line">
            <label class="form-label" for="">Telefone</label>
            <input class="form-input" type="text" name="phone" value="{{user.phone}}">
            <div data-validate-for="phone"></div>
        </div>
        <div class="form-line mb0">
        <button class="gl-green-button" type="submit">Salvar</button>
    </div>

{{ form_close() }}