{{ form_ajax('onUpdate') }}

    <div class="form-line">
        <h2 class="form-title">Dados de Acesso</h2>
    </div>
    <div class="form-line">
    <label class="form-label" for="">Email</label>
    <input class="form-input" type="email" value="{{user.email}}" disabled>
    </div>
    <div class="form-line">
    <label class="form-label" for="">Alterar senha</label>
    <input class="form-input" type="password" value="">
    </div>
    <div class="form-line">
    <label class="form-label" for="">Repita a nova senha</label>
    <input class="form-input" type="text" value="">
    </div>
    <div class="form-line mb0">
    <button class="gl-green-button" type="submit">Salvar</button>
    </div>

{{ form_close() }}