.home {

  &__slides {
    @include clearfix;
    margin: -20px -20px 50px;
    
    @include grid-media($desktop-grid) {
      position: relative;
      margin: 20px 0 50px;
      transform: rotate(-2deg);

      &:before {
        position: absolute;
        top: 0;
        display: block;
        margin-left: -450%;
        content: "";
        width: 1000%;
        height: 450px;
        background: #383838;
      }
    }

    &-bars {
      display: none;
      position: absolute;
      z-index: 2;
      margin-left: -450%;
      width: 1000%;
      height: 40px;
      background: #f2f5f7;

      @include grid-media($desktop-grid) {
        display: block;
      }

      &.btop {
        top: -20px;
      }

      &.bbottom {
        bottom: -20px;
      }
    }

    &-item {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 200px;

      img {
        transition: all 2000ms ease-in-out;
        
        &.mob {
          width: auto;
          height: 100%;

          @include grid-media($desktop-grid) {
            display: none;
          }
        }
      }

      &:hover {
        img {          
          &.ie1 {
            width: 115%;
          }

          &.ie2 {
            transform: scale(1.15);
          }

          &.ie3 {
            width: 115%;
          }
        }
      }

      @include grid-media($desktop-grid) {
        float: left;
        transform: rotate(2deg);
        width: 33.3333%;
        height: 450px;
      }

      &-content {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;

        &.i2 {
          @include grid-media($desktop-grid) {
            padding-top: 26px;
          }
        }

        &.i3 {
          @include grid-media($desktop-grid) {
            padding-top: 52px;
          }
        }
      }

      &-label {
        margin: 0;
        line-height: 21px;
        font-weight: 400;
        font-size: 14px;
        color: #fff;

        @include grid-media($desktop-grid) {
          line-height: 24px;
          font-size: 16px;
        }
      }
      
      &-title {
        margin: 10px 0 20px;
        font-weight: 500;
        font-size: 32px;
        color: #fff;

        @include grid-media($desktop-grid) {
          font-size: 40px;
        }
      }
      
      &-link {
        padding: 0 10px;
        display: inline-block;
        height: 29px;
        border: 2px solid #fff;
        text-transform: uppercase;
        line-height: 25px;
        font-weight: 700;
        font-size: 14px;
        color: #fff;

        &.ble {
          &:hover {
            color: #2BA5FD;  
          }
        }

        &:hover {
          border-color: #fff;
          color: #383838;
          background: #fff;

          .icon-video {
            background: url('/assets/images/icon-play-h.svg');
          }
        }

        .icon-video {
          position: relative;
          bottom: -1px;
        }

        .clabel {
          position: relative;
          top: -5px;
          display: inline-block;
        }

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }
      }

      img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        display: block;
        width: 100%;

        &.ie3 {
          left: initial;
          right: 0;
        }
      }
    }
  }

  &__more-features {
    margin: 10px -10px 50px 0;

    @include grid-media($desktop-grid) {
      margin-right: 0;
    }
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    
    @include clearfix;
    margin: 0 -10px;

    @include grid-media($desktop-grid) {
      margin: 0;
    }

    .gl-sales-item {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      
      @include grid-media($desktop-grid) {
        margin-bottom: 25px;
        margin-left: 2%;
        width: 49%;

        &:nth-child(odd) {
          margin-left: 0;
        }
      }
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;

    @include clearfix;
    margin: 0 -10px;

    @include grid-media($desktop-grid) {
      margin: 0 0 100px 0;
    }

    .gl-category-item {
      float: left;
      width: 100%;
      margin-bottom: 10px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      
      @include grid-media($desktop-grid) {
        margin-bottom: 25px;
        margin-left: 2%;
        width: 32%;

        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
    }
  }

}
