title = "Início"
url = "/"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 1
remove_crumb_trail = 0
crumb_disabled = 0

[builderList adCategories]
modelClass = "Qualitare\LegalInvest\Models\AdCategory"
scope = "scopeParentCategories"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nenhum registro encontrado"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[featured]
==
<style>
  @media screen and (min-width: 991px) {
    body {
      overflow-x: hidden;
    }
  }
</style>

<div id="modal-video" class="modal modal-video" data-id="UNbhG0VG59w">
  <div class="v-align">
    <div class="v-align-middle">
      <div class="modal-content">
        <button class="modal-close modal-close-button">
          <i class="cicon icon-close-w"></i>
        </button>

        <div class="modal-play">
          <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="home__slides">
    <div class="home__slides-bars btop"></div>
    <div class="home__slides-bars bbottom"></div>
    <div class="home__slides-item">
      <div class="home__slides-item-content">
        <div class="v-align">
          <div class="v-align-middle">
            <p class="home__slides-item-label">Ganhou a causa?</p>
            <h2 class="home__slides-item-title">Receba já sua<br>indenização</h2>
            <a class="home__slides-item-link" href="/anuncio/criar" title="Venda agora">Venda agora</a>
          </div>
        </div>
      </div>
			<img class="ie1" src="{{ 'assets/images/home-slide-01.jpg'|theme }}" alt="">
			<img class="ie1 mob" src="{{ 'assets/images/home-slide-01-m.jpg'|theme }}" alt="">
    </div>
    <div class="home__slides-item">
      <div class="home__slides-item-content i2">
        <div class="v-align">
          <div class="v-align-middle">
            <p class="home__slides-item-label">Negocie com segurança.</p>
            <h2 class="home__slides-item-title">Estamos por aqui<br>para ajudar</h2>
            <a class="home__slides-item-link modal-button ble" href="" title="Veja o vídeo" data-target="#modal-video" style="padding: 0 6px 0 0;"><i class="cicon icon-video"></i> <span class="clabel">Veja o vídeo</span></a>
          </div>
        </div>
      </div>
			<img class="ie2" src="{{ 'assets/images/home-slide-02.jpg'|theme }}" alt="">
			<img class="ie2 mob" src="{{ 'assets/images/home-slide-02-m.jpg'|theme }}" alt="">
    </div>
    <div class="home__slides-item">
      <div class="home__slides-item-content i3">
        <div class="v-align">
          <div class="v-align-middle">
            <p class="home__slides-item-label">Quer investir sem risco?</p>
            <h2 class="home__slides-item-title">Obtenha alto<br>rendimento</h2>
            <a class="home__slides-item-link" href="/busca" title="Compre Já">Compre Já</a>
          </div>
        </div>
      </div>
			<img class="ie3" src="{{ 'assets/images/home-slide-03.jpg'|theme }}" alt="">
			<img class="ie3 mob" src="{{ 'assets/images/home-slide-03-m.jpg'|theme }}" alt="">
    </div>
  </div>

  <h2 class="topic-title">Destaques</h2>

  <div class="home__features">
      {% for ad in featured.ads %}
      <div class="gl-sales-item bshdw">
          <p class="gl-sales-item-desc">
            <a href="/anuncio/{{ad.slug}}" title="">{{ad.title}}</a>
          </p>
          
          <a class="gl-sales-item-cat gl-sales-item-cat-m" title="{{ad.category.name}}" href="busca/{{ad.category.slug}}">{{ad.category.name}}</a>
          <a class="gl-sales-item-cat gl-sales-item-cat-s" title="{{ad.subcategory.name}}" href="busca/{{ad.category.slug}}">{{ad.subcategory.name}}</a>
          <div style="clear: both;"></div>

          <p class="gl-sales-item-price">R$ {{ad.price_partial | number_format(2, ',', '.')}}</p>

          <div class="gl-sales-item-price-desc">
            <p class="gl-sales-item-price-desc-l">Valor do Processo</p>
            <p class="gl-sales-item-price-desc-p">R$ {{ad.price_total | number_format(2, ',', '.')}} <b>({{ad.price_diff}})</b></p>
          </div>

          {% if user %}          
          <a class="gl-sales-item-star" 
            data-request="onToggleFavorite" 
            data-request-url="/conta/toggle-favorite/{{ad.id}}" 
            data-request-success="toggleFavoriteStar(this, data)"
            title="Favoritar">
              <i class="cicon icon-star {{ user and ad.userfavorite ? 'active' : ''}}"></i>
          </a>
          {% endif %}
          
        </div>
      {% endfor %}
  </div>

  <div class="text-right">
    <a class="home__more-features gl-gray-button" href="" title="Ver mais destaques">Ver mais destaques</a>
  </div>

  <h2 class="topic-title">Categorias</h2>

  <div class="home__categories"> 
    {% for adCategory in adCategories.records %}
    <div class="gl-category-item bshdw">
        <div class="gl-category-item-icon">
          <div class="v-align">
            <div class="v-align-middle">
              <img src="{{adCategory.icon.path}}" alt="">
            </div>
          </div>
        </div>
        <h3 class="gl-category-item-title gl-category-item-title-f">{{adCategory.name}}</h3>
        <p class="gl-category-item-desc">{{adCategory.description}}</p>
        <ul class="gl-category-item-links">
          <li class="gl-category-item-link">
            <a href="/busca/{{adCategory.slug}}" title="Comprar">Comprar</a>
          </li>
          <li class="gl-category-item-link">
            <a href="/anuncio/criar/" title="Vender">Vender</a>
          </li>
        </ul>
    </div>
    {% endfor %}
  </div>
</div>