title = "Erro"
url = "/404"
layout = "default"
==
<style>
  body {
    background: #383838;
  }
  .not-found-links a:hover {
    color: #fff !important;
  }
</style>

<div class="wrapper">
  <div class="not-found">
		<img src="{{ 'assets/images/erro.svg'|theme }}" alt="Lupa">
    <p class="not-found-desc" style="color:#fff;">Parece que você tentou acessar uma página que não existe mais ou teve<br>seu endereço modificado. Volte a navegar acessando um dos links abaixo:</p>
    <nav class="not-found-links">
      <a href="/index" title="Início">Início</a>
      <a href="/busca" title="Buscar">Buscar</a>
      <a href="/anuncio/criar" title="Anunciar">Anunciar</a>
      <a href="/sobre" title="Sobre Nós">Sobre Nós</a>
      <a href="/conta/meus-dados" title="Conta">Conta</a>
      <a href="/ajuda" title="Ajuda">Ajuda</a>
    </nav>
  </div>
</div>
