title = "Anunciar"
url = "/anunciar-aguardando-plano-andamento"
layout = "default"
==
<div class="wrapper">
  <div class="adv__sent">
		<img src="{{ 'assets/images/airplane.svg'|theme }}" alt="Lupa">
    <h2 class="adv__sent-title">Anúncio enviado com sucesso e pedido em andamento </h2>
    <p class="adv__sent-desc">Antes de publicarmos seu anúncio precisamos analisá-lo e checar se está tudo ok. Em até 24 horas lhe<br>avisaremos por email.</p>
    <p class="adv__sent-desc">Em breve o pedido será aprovado e seu anúncio será automaticamente turbinado após a publicação.</p>

    <a class="gl-leaked-button" href="/conta/meus-anuncios" title="Ver meus anúncios">Ver meus anúncios</a>
  </div>
</div>
