title = "Anunciar"
url = "/anuncio/turbinar/:id"
layout = "default"

[ads]
id = {{ :id }}

[payment]
ad_id = {{ :id }}
payment = 'pagseguro'

==
<div class="wrapper">
  <form class="adv__form">
    <h1 class="adv__form-title">Turbine seu anúncio</h1>

    <p class="adv__form-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus rutrum pretium. Nulla vel mauris a lacus efficitur egestas. Pellentesque a magna ligula.</p>
    
    <div>
      {% for boost in ads.boosts %}
      <div class="adv__form-plan bshdw">
        {% if boost.best %}
          <div class="adv__form-plan-badge">Melhor opção</div>
        {% endif %}
        
        <div class="adv__form-plan-icon">
          <div class="v-align">
            <div class="v-align-middle">
							<img src="{{ 'assets/images/plan-gold.svg'|theme }}" alt="{{boost.name}}">
            </div>
          </div>
        </div>

        <h2 class="adv__form-plan-name">{{boost.name}}</h2>

        <ul class="adv__form-plan-list">
          <li class="adv__form-plan-list-item">
            Anúncio sobe ao topo dos resultados de busca {{boost.multiple}} vezes 
            ( uma vez por dia
              {% if boost.interval > 1 %}
                a cada {{boost.interval}}
              {% else %}
                durante {{boost.multiple}}
              {% endif %}
            dias )
          </li>
          {% if boost.featured %}
            <li class="adv__form-plan-list-item">Aparece na área de Destaques, na página inicial, por 7 dias</li>
          {% endif %}
        </ul>

        <div class="adv__form-plan-radio">
          <div class="adv__form-plan-radio-mask">
            <div class="gl-gray-button">Destacar por R$ {{ boost.price | number_format(2, ',', '.')}}</div>
          </div>
          <input type="radio" name="boost_id" value="{{boost.id}}" 
            data-request="onProcess"
            data-request-data="ad_id: {{ads.ad.id}}, gateway: 'pagseguro'"
            data-request-success="openPGLightbox(data)"
            data-request-error="return showFlash(jqXHR.responseText);"
          >
        </div>
      </div>
      {% endfor %}
    </div>

    <button onclick="window.location='/anunciar-aguardando'; return false;" class="gl-leaked-button">Continuar sem destaque...</button>
  </form>
  <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
</div>