.footer {
	@include clearfix;
	padding: 20px;
	background: #383838;

	@include grid-media($desktop-grid) {
		padding: 50px 0;
	}

	&__logo {
		display: block;
		margin: 0 0 30px;
		width: 133px;
		height: 28px;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__content {
    @include outer-container;
    position: relative;
  }

	&__widget {
		float: left;
		margin: 0 0 30px;
		width: 50%;

		@include grid-media($desktop-grid) {
			width: 15%;
		}

		&-title {
			margin: 0 0 10px;
			text-transform: uppercase;
			line-height: 21px;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-size: 14px;
			color: #fff;
			
			@include grid-media($desktop-grid) {
				font-size: 16px;
			}
		}

		&-f {
			@include grid-media($desktop-grid) {
				width: 20%;
			}			
		}

		&-newsletter {
			width: 100%;

			@include grid-media($desktop-grid) {
				width: 25%;
			}
			
			.form-line {
				.form-input {
					border-color: #fff;
					background: #383838;
					color: #fff !important;
				}

				.gl-blue-button {
					border: 2px solid #2BA5FD;

					&:hover {
						background: #fff;
						border: 2px solid #fff;
						color: #383838 !important;
					}
				}
			}
		}

		&-followus {
			width: 100%;

			@include grid-media($desktop-grid) {
				margin-left: 3%;
				width: 7%;
			}

			.footer__widget-list {
				.footer__widget-list-item {
					display: inline-block;
					margin-right: 15px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
			line-height: 21px;
			font-family: "Roboto", sans-serif;
			font-size: 14px;

			@include grid-media($desktop-grid) {
				font-size: 16px;
			}

			&-item {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					font-weight: 400;
					color: #98A0A4;

					&:hover {
						color: #2BA5FD;
						// text-decoration: underline;
					}
				}
			}
		}
	}

	&__copy {
		float: left;
		margin: 0;
		width: 100%;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 11px;
		color: #98A0A4;

		@include grid-media($desktop-grid) {
			font-size: 13px;
		}
	}
}
