<footer class="footer">
  <div class="footer__content">
    <a class="footer__logo" href="/" title="LegalInvest">
			<img src="{{ 'assets/images/legalinvest-logo-invert.svg'|theme }}" alt="LegalInvest">
    </a>

    <nav class="footer__widget footer__widget-f">
      <h6 class="footer__widget-title">A Legal Invest</h6>
      <ul class="footer__widget-list">
        <li class="footer__widget-list-item">
          <a href="/sobre" title="Sobre nós">Sobre nós</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/contato" title="Fale Conosco">Fale Conosco</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/termos" title="Termos de Uso">Termos de Uso</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/privacidade" title="Política de Privacidade">Política de Privacidade</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__widget footer__widget-s">
      <h6 class="footer__widget-title">Navegue</h6>
      <ul class="footer__widget-list">
        <li class="footer__widget-list-item">
          <a href="/" title="Início">Início</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/busca" title="Buscar">Buscar</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/anuncio/criar" title="Anunciar">Anunciar</a>
        </li>
        {% set contaUrl = user ? "conta/meus-dados" : "entrar" %}
        <li class="footer__widget-list-item">
          <a href="/{{contaUrl}}" title="Conta">Conta</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/ajuda" title="Ajuda">Ajuda</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__widget footer__widget-t">
      <h6 class="footer__widget-title">Conta</h6>
      <ul class="footer__widget-list">
        {% if user %}
        <li class="footer__widget-list-item">
          <a href="/conta/meus-dados" title="Sua conta">Conta</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/conta/meus-anuncios" title="Anúncios">Anúncios</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/conta/meus-favoritos" title="Favoritos">Favoritos</a>
        </li>
        {% else %}
        <li class="footer__widget-list-item">
            <a href="/cadastrar" title="Cadastrar">Cadastrar</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/entrar" title="Entrar">Entrar</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <nav class="footer__widget footer__widget-ff">
      <h6 class="footer__widget-title">Ajuda</h6>
      <ul class="footer__widget-list">
        <li class="footer__widget-list-item">
          <a href="/ajuda" title="Ajuda">Ajuda</a>
        </li>
        <li class="footer__widget-list-item">
          <a href="/contato" title="Contato">Contato</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__widget footer__widget-newsletter">
      <h6 class="footer__widget-title">Assine nossa Newsletter</h6>
      <form class="footer__newsletter" 
      data-request="newsletter::onSave"  
      data-request-success="showFlash(data)"
      data-request-validate>
        <div class="form-line mb10">
          <input class="form-input" type="email" name="email" placeholder="Seu e-mail">
          <p class="form-help" style="font-size: 12pt; color: #fff" data-validate-for="email"></p>
        </div>
        <div class="form-line mb0">
          <button class="form-button gl-blue-button">
            Cadastrar
          </button>
        </div>
      </form>
    </nav>

    <nav class="footer__widget footer__widget-followus">
      <h6 class="footer__widget-title">Siga-nos</h6>
      <ul class="footer__widget-list">
        <li class="footer__widget-list-item">
          <a target="_blank" href="" title="Twitter" rel="nofollow">
            <i class="cicon icon-twitter"></i>
          </a>
        </li>
        <li class="footer__widget-list-item">
          <a target="_blank" href="" title="Facebook" rel="nofollow">
            <i class="cicon icon-facebook"></i>
          </a>
        </li>
      </ul>
    </nav>
    
    <p class="footer__copy">Copyright © 2019  Legal Invest LTDA.</p>
  </div>
</footer>
