{% if chat.current %}
<div class="chat-content-header">
  <div class="chat-content-header-name">
    {{chat.current['userName']}}
  </div>
  <button class="chat-content-header-close">
    <i class="cicon icon-close"></i>
  </button>
</div>
<div class="chat-content-messages">
  <ul class="chat-content-messages-list">
      {% set messages = chat.current['messages'] %}
      {% set today = true %}
      {% for message in messages %}
        {% set lastDate = date ? date : null %}
        {% set date = message.created_at | chatDate %}  
        {% set today = today and (date != "Hoje") %}
        {% if lastDate != date %}
            <li class="chat-content-messages-list-item message-date mt0">
              <div>{{date}}</div>
            </li>
        {% endif %}
        {% partial 'chat/message.htm' message = message %}
      {% endfor %}
      {% if today %}
        <li class="chat-content-messages-list-item message-date">
          <div>Hoje</div>
        </li>
      {% endif %}
  </ul>
</div>
<div class="chat-content-form">
<form data-request="onChatSend" data-request-success="showNewConversationMessage(this, data)">
  <input class="chat-content-form-input" type="text" name="content" placeholder="Digite aqui sua mensagem">
  <input type="hidden" name="chat" value="{{chat.current['id']}}"/>
  <button class="chat-content-form-submit" type="submit">
    <i class="cicon icon-send"></i>
  </button>
</form>
</div>
{% endif %}