.adv {
  &__form {
    @include clearfix;

    @include grid-media($desktop-grid) {
      margin: 50px auto 100px auto;
      max-width: 750px;
    }

    &-title {
      margin: 0 0 20px 0;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 22px;
      color: #383838;
      
      @include grid-media($desktop-grid) {
        font-size: 26px;
      }
    }

    &-desc {
      text-align: center;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #383838;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }
    }

    &-radio {
      position: relative;
      float: left;
      margin: 0 0 20px 4%;
      width: 48%;
      height: 150px;
      border: 2px solid #383838;

      &:focus {
        outline: dashed;
      }

      &.hover {
        background: #383838;

        .adv__form-radio-mask {
          &-label {
            color: #fff;
          }
        }

        img{
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(308deg) brightness(103%) contrast(101%);
        }
      }

      &.active {
        border: 2px solid #2BA5FD;
        background: #2BA5FD;
        
        .adv__form-radio-mask {
          &-label {
            color: #fff;
          }
        }

        img{
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(308deg) brightness(103%) contrast(101%);
        }
      }

      @include grid-media($desktop-grid) {
        margin: 0 2% 15px 0;
        width: 32%;
        height: 170px;

        &:nth-child(3n+1) {
          margin-right: 0;
        }
      }

      &:nth-child(2n) {
        margin-left: 0;
      }

      &-mask {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        &-icon {
          display: block;
          width: 100%;
          height: 110px;

          @include grid-media($desktop-grid) {
            height: 130px;
          }
        }

        &-label {
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 14px;
          color: #383838;

          @include grid-media($desktop-grid) {
            font-size: 16px;
          }
        }
      }

      input[type=radio] {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        z-index: 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-plan {
      position: relative;
      margin: 0 -10px 10px;
      padding: 50px 20px;
      background: #fff;

      @include grid-media($desktop-grid) {
        float: left;
        width: 32%;
        height: 530px;
        padding: 60px 30px 50px;
        margin: 50px 2% 50px 0;
      }

      &:last-child {
        @include grid-media($desktop-grid) {
          margin-right: 0;
        }
      }

      &-badge {
        padding: 0 25px;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: -10px;
        height: 32px;
        background: #2BA5FD;
        line-height: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
      }

      &-icon {
        margin-bottom: 30px;
        width: 100%;
        height: 70px;

        img {
          display: block;
          margin: 0 auto;
        }
      }

      &-name {
        margin-bottom: 20px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: #383838;

        @include grid-media($desktop-grid) {
          font-size: 22px;
        }
      }

      &-list {
        margin: 0 0 30px 20px;
        padding: 0;
        list-style: url('/themes/frontend/assets/images/check.svg');
        line-height: 21px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #383838;

        @include grid-media($desktop-grid) {
          line-height: 24px;
          font-size: 16px;
        }

        &-item {
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #E6EBEE;

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }

      &-radio {
        position: relative;
        width: 100%;
        height: 38px;

        &.active {
          .gl-gray-button {
            border-color: #2BA5FD;
            background: #2BA5FD;
            color: #fff !important;
          }
        }

        @include grid-media($desktop-grid) {
          position: absolute;
          left: 30px;
          right: 30px;
          bottom: 50px;
          width: auto;
        }

        &-mask {
          pointer-events: none;
          position: relative;
          z-index: 1;
          top: 0;
          left: 0;

          .gl-gray-button {
            width: 100%;
          }
        }

        input[type=radio] {
          cursor: pointer;
          opacity: 0;
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .form-line {
      @include clearfix;
      float: left;

      &.form-column {
        &-top {
          @include grid-media($desktop-grid) {
            margin-top: 29px;
          }
        }

        @include grid-media($desktop-grid) {
          float: left;
          margin-right: 2%;
          width: 49%;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      .form-checkbox {
        text-align: center;

        input[type=checkbox] {
          float: initial;
          display: inline-block;
          position: relative;
          top: -16px;
  
          @include grid-media($tablet-grid) {
            top: 4px;
          }

          @include grid-media($desktop-grid) {
            top: 4px;
          }
        }

        &-label {
          float: initial;
          display: inline-block;
          width: initial;
          max-width: 75%;
        }
      }

      .form-label {
        &.radio {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

    .gl-leaked-button {
      margin: 0 auto;
      display: block;
    }

  }
}
