title = "Anunciar"
url = "/anuncio/criar"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[ads]
paramCode = "code"
forceSecure = 0
==

<div class="wrapper"> 
  <form id="ad-form" class="adv__form"  data-request="onSave">
    
    <h1 class="adv__form-title">O que você quer anunciar</h1>
      {% partial "anuncio/form-fields.htm" %}
      
      <h2 class="adv__form-title">Enviar anúncio</h2>
      <p class="adv__form-desc">Tudo pronto para enviar seu anúncio para análise.<br>Confira se todos os dados estão corretos.<br>Você será informado por email quando o anúncio for publicado.</p>

      <div class="form-line">
        <div class="form-checkbox">
          <input type="checkbox">
          <div class="form-checkbox-label">
            Afirmo que li e concordo com os Termos de Serviço.
          </div>
        </div>
      </div>
        
      <div class="form-line text-center">
        <button class="gl-blue-button" type="submit">Enviar Anúncio</button>
      </div>
  </form>
</div>