.not-found {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #383838;

  @include grid-media($desktop-grid) {
    padding: 50px 0 200px 0;
  }

  img {
    display: inline-block;
    margin-bottom: 30px;
  }

  &-title {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 22px;

    @include grid-media($desktop-grid) {
      font-size: 26px;
    }
  }

  &-desc {
    margin: 0 0 15px;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;

    @include grid-media($desktop-grid) {
      margin: 0 0 30px;
      line-height: 24px;
      font-size: 16px;
    }
  }

  &-links {
    a {
      margin-bottom: 10px;
      display: block;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #2BA5FD;

      @include grid-media($desktop-grid) {
        display: inline-block;
        margin: 0 30px 0 0;
      }
      
      &:last-child {
        margin-bottom: 0;
  
        @include grid-media($desktop-grid) {
          margin-right: 0;
        }
      }
    }
  }
}