title = "Pedido em andamento"
url = "/anunciar-plano-andamento"
layout = "default"
==
<div class="wrapper">
  <div class="adv__sent">
		<img src="{{ 'assets/images/airplane.svg'|theme }}" alt="Lupa">
    <h2 class="adv__sent-title">Pedido em andamento </h2>
    <p class="adv__sent-desc">Em breve o pedido será aprovado e seu anúncio será automaticamente turbinado.</p>

    <a class="gl-leaked-button" href="/conta/meus-anuncios" title="Ver meus anúncios">Ver meus anúncios</a>
  </div>
</div>
