.ad {
  @include clearfix;

  &__article {

    @include grid-media($desktop-grid) {
      float: left;
      padding: 50px 0 200px 0;
      width: 65%;
    }

    &-title {
      margin: 0 0 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 22px;
      color: #383838;

      @include grid-media($desktop-grid) {
        font-size: 26px;
      }
    }

    &-category {
      @include clearfix;
      display: block;
      margin: 0 0 20px;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #fff;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }

      &-m,
      &-s {
        float: left;
        display: block;
        padding: 0 5px;
      }

      &-m {
        background: #6469FA;
        text-transform: uppercase;
      }

      &-s {
        background: #6469FA;
        opacity: 0.7;
      }
    }

    &-desc {
      margin: 0 0 30px 0;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #383838;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }
    }
  }

  &__sidebar {
    @include grid-media($desktop-grid) {
      float: left;
      margin: 50px 0 200px 3%;
      width: 32%;
    }

    .gl-sales-item {
      margin: 0 -10px 30px;
      
      @include grid-media($desktop-grid) {
        margin: 0 0 30px;
      }

      &-price {
        margin-bottom: 15px;
        line-height: normal;
        font-size: 32px;

        @include grid-media($desktop-grid) {
          margin-bottom: 10px;
          font-size: 40px;
        }
      }

      &-price-desc {
        &-l {
          @include grid-media($desktop-grid) {
            margin-bottom: 3px;
          }
        }

        &-p {
          font-size: 19px;
          
          @include grid-media($desktop-grid) {
            font-size: 22px;
          }
        }
      }

      &-star {
        top: 20px;
      }
    }

    &-widget {
      display: none;
      
      &.active {
        display: block;
      }

      &-title {
        margin: 0 0 15px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: #383838;

        @include grid-media($desktop-grid) {
          margin-bottom: 10px;
          font-size: 22px;
        }
      }

      &-desc {
        margin: 0 0 15px;
        line-height: 21px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #383838;

        @include grid-media($desktop-grid) {
          margin-bottom: 10px;
          line-height: 24px;
          font-size: 16px;
        }
      }

      &-form {
        .form-line {
          @include grid-media($desktop-grid) {
            @include clearfix;
          }

          .form-input {
            margin-bottom: 10px;
            background: transparent;

            @include grid-media($desktop-grid) {
              float: left;
              margin-bottom: 0;
              width: 70%;
            }
          }

          .gl-blue-button {
            @include grid-media($desktop-grid) {
              float: right;
            }
          }
        }
      }
    }

    &-email {
      display: none;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #383838;

      &.active {
        display: block;
      }

      img {
        display: inline-block;
        margin-bottom: 20px;
      }

      &-title {
        margin: 0 0 15px;
        font-weight: 500;
        font-size: 22px;

        @include grid-media($desktop-grid) {
          font-size: 26px;
        }
      }

      &-desc {
        line-height: 21px;
        font-size: 14px;

        @include grid-media($desktop-grid) {
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
  }
}