title = "Anúncio"
url = "/anuncio/:slug/:chat?"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[consultingform]

[adDetails]
slug = "{{:slug}}"

[chat]
slug = "{{:slug}}"

==
{% set ad = adDetails.ad %}

{% partial "chat/anuncio.htm" %}
<div class="wrapper">
  <article class="ad__article">
    <h1 class="ad__article-title">{{ ad.title }}</h1>
    <a class="ad__article-category ad__article-category-m" title="{{ad.category.name}}" href="busca/{{ad.category.slug}}">{{ad.category.name}}</a>
    <a class="ad__article-category ad__article-category-s" title="{{ad.subcategory.name}}" href="busca/{{ad.category.slug}}">{{ad.subcategory.name}}</a>
    <div style="clear: both;"></div>
  <p class="ad__article-desc">{{ad.body}}</p>
  </article>
  
  <aside class="ad__sidebar">
    <div class="gl-sales-item bshdw">
      <p class="gl-sales-item-price">R$ {{ad.price_partial | number_format(2, ',', '.')}}</p>

      <div class="gl-sales-item-price-desc">
        <p class="gl-sales-item-price-desc-l">Valor do Processo</p>
        <p class="gl-sales-item-price-desc-p">R$ {{ad.price_total | number_format(2, ',', '.')}} <b>({{ad.price_diff}})</b></p>
      </div>

      <div class="gl-sales-item-author">
        <p class="gl-sales-item-author-name">{{ ad.user.name }} {{ ad.user.surname}}</p>
        <p class="gl-sales-item-author-phone show-phone"><span class="phone-number">(83) 99616...</span> <a href="" title="Ver Número" rel="nofollow" data-request="onViewPhone" data-phone="(83) 99616-2137">Ver Número</a></p>
      </div>

      {% if ad.user_id != user.id %}
      <a 
          class="gl-sales-item-chat gl-blue-button" 
          href="/anuncio/{{ad.slug}}/chat"
          data-request="onAdChatLoad"
          data-request-url="/anuncio/{{ad.slug}}/chat"
          data-request-success="showConversation(null, data)"
          data-request-fail="hideConversation()"
          title="Iniciar chat">
          <i class="cicon icon-chat"></i>Iniciar chat
      </a>
      {% endif %}

      <ul class="gl-sales-item-list">
        <div class="gl-sales-item-list-item item-title"><i class="icon-alert"></i> Dicas de Segurança</div>
        <li class="gl-sales-item-list-item">Evite pagar adiantado</li>
        <li class="gl-sales-item-list-item">Desconfie de anúncios não realistas</li>
        <li class="gl-sales-item-list-item">Se tiver algum dúvida, <a href="/contato" title="entre em contato conosco">entre em contato conosco</a></li>
      </ul>

      {% if user %}
        <a class="gl-sales-item-star" 
        data-request="onToggleFavorite" 
        data-request-url="/conta/toggle-favorite/{{ad.id}}" 
        data-request-success="toggleFavoriteStar(this, data)"
        title="Favoritar">
          <i class="cicon icon-star {{ user and ad.userfavorite ? 'active' : ''}}"></i>
        </a>
      {% endif %}
      
    </div>

    <div class="ad__sidebar-widget active">
      <h2 class="ad__sidebar-widget-title">Precisa de consultoria?</h2>
      <p class="ad__sidebar-widget-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar tincidunt faucibus. Proin pellentesque lacus facilisis massa imperdiet bibendum.</p>
      <form class="ad__sidebar-widget-form" data-request="onSend">
        <div class="form-line mb0">
          <input class="form-input" name="email" type="email" placeholder="Seu e-mail" required>
          <button class="gl-blue-button">Enviar</button>
        </div>
      </form>
    </div>

    <div class="ad__sidebar-email">
			<img src="{{ 'assets/images/email-checked.svg'|theme }}" alt="E-mail enviado">
      <p class="ad__sidebar-email-title">E-mail enviado</p>
      <p class="ad__sidebar-email-desc">Entraremos em contato com você em até 1 dia útil.</p>
    </div>
  </aside>
</div>