.about {
  @include grid-media($desktop-grid) {
    margin-bottom: 100px;
  }

  &-header {
    position: relative;
    z-index: -1;
    margin: -60px 0 50px;
    padding: 0 20px;
    height: 390px;
    background: #383838 url('/themes/frontend/assets/images/about.png') center center no-repeat;

    @include grid-media($desktop-grid) {
      margin: -40px 0 50px 0;
    }

    .v-align {
      margin: 0 auto;
      max-width: 750px;
    }

    &-title {
      margin: 0 0 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 32px;
      color: #fff;

      @include grid-media($desktop-grid) {
        font-size: 40px;
      }
    }

    &-desc {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 19px;
      color: #fff;

      @include grid-media($desktop-grid) {
        font-size: 22px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }

  &-article {
    @include grid-media($desktop-grid) {
      margin: 0 auto;
      max-width: 750px;
    }

    h1 {
      &:last-child {
        @include grid-media($desktop-grid) {
          margin-top: 50px;
        }
      }
    }
  }

  &-profiles {
    @include clearfix;

    @include grid-media($desktop-grid) {
      margin: 0 auto;
      max-width: 750px;
    }

    .about-profile {
      float: left;
      display: block;
      margin: 0 -10px 10px;
      background: #fff;

      @include grid-media($desktop-grid) {
        width: 32%;
        margin: 0 2% 30px 0;
      }

      &:nth-child(3n) {
        @include grid-media($desktop-grid) {
          margin-right: 0;
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &-name {
        position: relative;
        top: -19px;
        display: inline-block;
        padding: 0 20px;
        height: 38px;
        background: #2BA5FD;
        line-height: 38px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: #fff;

        @include grid-media($desktop-grid) {
          font-size: 22px;
        }
      }

      &-position {
        margin: -9px 0 10px 0;
        padding: 0 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #98A0A4;

        @include grid-media($desktop-grid) {
        }
      }

      &-desc {
        padding: 0 20px 20px;
        line-height: 21px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #383838;

        @include grid-media($desktop-grid) {
          line-height: 24px;
          font-size: 16px;
        }
      }
    }

  }
}
