title = "Sobre"
url = "/sobre"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails Pages]
modelClass = "Qualitare\LegalInvest\Models\Page"
identifierValue = "sobre"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList Profile]
modelClass = "Qualitare\LegalInvest\Models\Profile"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "name"
sortDirection = "asc"
==
{% set record = Pages.record %}
{% if record %}
  
<div class="about">
  <div class="about-header">
    <div class="v-align">
      <div class="v-align-middle" style="position:relative;">
        <h1 class="about-header-title">{{ record.heading_title }}</h1>
        <div class="about-header-desc">{{ record.heading_text|raw }}</div>
				<img src="{{ 'assets/images/about-bars.png'|theme }}" alt="Barras">
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="about">
    <article class="about-article gl-article">
        <h1>Sobre a Legal Invest</h1>
        <p>{{ record.text|raw }}</p>
    </article>
    
    <h1>Nossa Equipe</h1>
    <div class="about-profiles">
        {% for record in records %}
        <div class="about-profile bshdw">
		  <img src="{{record.photo.path}}" alt="">
          <div class="about-profile-name">{{record.name}}</div>
          <div class="about-profile-position">{{record.role}}</div>
          <div class="about-profile-desc">{{record.description}}</div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}