title = "Email"
url = "/recuperar-senha-enviado"
layout = "default"
==
<style>
  .forms-desc,
  .forms-link {
    color: #383838;
  }
</style>
<div class="forms-wrapper">
  <div class="forms-form bshdw">
    <div class="form-line">
      <a class="form-logo" href="/" title="Legal Invest">
				<img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="Legal Invest">
      </a>
    </div>
    <div class="form-line">
      <h2 class="form-title">E-mail enviado</h2>
      <p class="form-desc">Vá  até seu email e clique no botão<br>[ Restore password ]</p>
    </div>
    <div class="form-line mb0">
      <a class="gl-leaked-button" href="/entrar" title="Voltar para o login">Voltar para o login</a>
    </div>
    <div class="form-line mb0">
      <a class="gl-leaked-button" href="/" title="Ir para a página principal">Ir para a página principal</a>
    </div>
  </div>
</div>
