.faq {
  @include grid-media($desktop-grid) {
    margin: 50px auto 100px auto;
    max-width: 750px;
  }

  .gl-leaked-button {
    margin: 0 0 30px;
    padding: 0;
  }

  &-subtitle {
    margin: 0 0 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #383838;

    @include grid-media($desktop-grid) {
      font-size: 26px;
    }
  }

  &-categories {
    @include clearfix;
    margin-bottom: 40px;

    :hover img{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(308deg) brightness(103%) contrast(101%);
    }
    
    &-link {
      float: left;
      margin: 0 2% 10px 0;
      padding: 20px 0;
      display: block;
      width: 48%;
      height: 180px;
      border: 2px solid #383838;
      text-transform: uppercase;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #383838;

      &:hover {
        background: #383838;
        color: #fff;
      }

      @include grid-media($desktop-grid) {
        width: 32%;
        margin-bottom: 20px;
      }

      &:nth-child(2n) {
        margin-right: 0;
        
        @include grid-media($desktop-grid) {
          margin-right: 2%;
        }
      }

      &:nth-child(3n) {
        @include grid-media($desktop-grid) {
          margin-right: 0;
        }
      }

      &-icon {
        display: block;
        width: 100%;
        height: 90px;
      }

      &-label {
        display: block;
        padding: 20px;
      }
    }
  }

  &-search {
    margin-bottom: 35px;

    @include grid-media($desktop-grid) {
      margin-bottom: 50px;
    }

    .form-line {
      position: relative;

      .form-input {
        padding-right: 64px;
      }

      .form-search {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 44px;
        height: 38px;
        background: #2BA5FD;
        border: none;

        &:hover {
          background: #383838;
        }
      }
    }
  }

  &-links {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #383838;

    &-item {
      border-bottom: 2px solid #383838;
      padding: 20px;
      line-height: 21px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;

      @include grid-media($desktop-grid) {
        line-height: 24px;
        font-size: 16px;
      }

      &:last-child {
        border-bottom: none;
      }
      
      a {
        font-weight: 400;
        color: #383838;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}