title = "Ajuda"
url = "/ajuda"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList helpCategories]
modelClass = "Qualitare\LegalInvest\Models\HelpCategory"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList MostViewed]
modelClass = "Qualitare\LegalInvest\Models\HelpPost"
scope = "scopeMostViewed"
scopeValue = "{{ :cat }}"
displayColumn = "help_category_id"
noRecordsMessage = "No records found"
detailsPage = "ajuda-post/template"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<div class="wrapper">
  <div class="faq">
    <h2 class="faq-subtitle">Como podemos ajudar?</h2>
    <nav class="faq-categories">
      {% for record in helpCategories.records %}
      <a class="faq-categories-link" href="ajuda/{{record.slug}}" title="{{record.name}}">
          <span class="faq-categories-link-icon">
              <span class="v-align">
              <span class="v-align-middle">
                  <img src="{{record.icon.path}}" alt="{{record.name}}">
              </span>
              </span>
          </span>
          <span class="faq-categories-link-label">{{record.name}}</span>
      </a>
      {% endfor %} 
      <a class="faq-categories-link" href="/contato" title="Entre em contato">
        <span class="faq-categories-link-icon">
          <span class="v-align">
            <span class="v-align-middle">
							<img src="{{ 'assets/images/icon-contato.svg'|theme }}" alt="Entre em contato">
            </span>
          </span>
        </span>
        <span class="faq-categories-link-label">Entre em contato</span>
      </a>
    </nav>

    <form class="faq-search" method="post" action="/ajuda/busca">
      <div class="form-line">
        <input class="form-input" type="text" name="where[term]" placeholder="Ou informe aqui sua dúvida">
        
        <button class="form-search">
					<img src="{{ 'assets/images/form-search-icon.svg'|theme }}" alt="Buscar">
        </button>
      </div>
    </form>
    
    <h2 class="faq-subtitle">Dúvidas mais frequentes</h2>
    <ul class="faq-links">
      {% for record in  MostViewed.records %}
        <li class="faq-links-item">
            <a href="/ajuda/{{record.category}}/{{record.url}}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">{{record.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>