<div class="contato-sent bshdw">
    <img src="{{ 'assets/images/icon-contato-sent.svg'|theme }}" alt="Mensagem enviada">
    <h2 class="contato-sent-title">Mensagem enviada!</h2>
    <p class="contato-sent-desc">{{ sentMessage }}</p>
</div>