.header {
  z-index: 9;
  padding: 20px;
  width: 100%;
  height: 130px;
  background: #fff;
  
  @include grid-media($desktop-grid) {
    position: relative;
    padding: 20px 0 0;
    height: auto;
  }

  &__content {
    @include outer-container;
    position: relative;
  }

  &__logo {
    float: left;
    display: block;
    width: 155px;
    height: 32px;

    @include grid-media($desktop-grid) {
      width: 184px;
      height: 38px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__menu-button {
    float: right;
    position: relative;
    display: block;
    top: 6px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    
    @include grid-media($desktop-grid) {
      display: none;
    }

    &.active {
      .close {
        display: block;
      }

      .menu {
        display: none;
      }
    }

    .close {
      margin: 1px 3px;
      display: none;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    z-index: 9;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2BA5FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    &.active {
      display: block;

      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: -7px;
      right: 20px;
      width: 14px;
      height: 14px;
      background: #2BA5FD;
      transform: rotate(45deg);
    }

    &-list {
      margin: 0;
      padding: 50px 30px 0;
      list-style: none;
      
      &-item {
        margin-bottom: 20px;

        &.divider {
          height: 1px;
          background: #fff;
        }
        
        a {
          font-weight: 400;
          color: #fff;

          &.gl-blue-button {
            display: block;
            margin: 50px auto 0;
            width: 105px;
            border: 2px solid #fff;
          }

          .cicon {
            position: relative;
            top: 6px;
            margin-right: 10px;
          }
        }
      }
    }

  }

  &__usermenu {
    display: none;
    float: right;

    @include grid-media($desktop-grid) {
      display: block;
    }    

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 38px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;

      &-item {
        position: relative;
        display: inline-block;
        margin-right: 10px;

        &:hover {
          .header__usermenu-sublist {
            display: block;
          }

          a {
            color: #2BA5FD;

            .icon-help {
              background: url('/themes/frontend/assets/images/help-icon-hover.svg');
            }

            .icon-chat-dark {
              background: url('/themes/frontend/assets/images/chat-dark-icon-hover.svg');
            }

            .icon-user {
              background: url('/themes/frontend/assets/images/user-icon-hover.svg');
            }
          }
        }

        a {
          font-weight: 400;
          color: #383838;

          &.gl-blue-button {
            position: absolute;
            top: 0;
            left: 684px;
            padding: 0 20px;
          }

          .cicon {
            position: relative;
            top: 6px;
            margin-right: 5px;

            &.icon-help {
              margin-right: 0;
            }
          }
        }
      }
    }

    &-sublist {
      display: none;
      position: absolute;
      left: 50%;
      margin: 0 0 0 -80px;
      padding: 20px;
      width: 160px;
      background: #2BA5FD;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      list-style: none;
      line-height: 26px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;

      &:before {
        position: absolute;
        top: -6px;
        left: 50%;
        margin-left: -6px;
        display: block;
        content: "";
        width: 12px;
        height: 12px;
        background: #2BA5FD;
        transform: rotate(45deg);
      }

      &-item {
        a {
          color: #fff !important;

          &:hover {
            color: #383838 !important;
          }
        }
      }
    }
  }

  &__search {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;

    @include grid-media($desktop-grid) {
      top: 0;
      left: 234px;
      width: 430px;
    }

    .form-line {
      position: relative;

      .form-input {
        padding-right: 64px;
      }

      .form-search {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 44px;
        height: 38px;
        background: #2BA5FD;
        border: none;

        &:hover {
          background: #383838;
        }
      }
    }
  }

  &__submenu {
    display: none;
    margin-top: 20px;
    padding: 10px 0;
    background: #F2F5F7;

    @include grid-media($desktop-grid) {
      display: block;
    }

    &-list {
      @include outer-container;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-size: 13px;

      &-item {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-weight: 400;
          color: #98A0A4;

          &:hover {
            color: #2BA5FD;
          }
        }
      }
    }
  }
}
