[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[builderList adCategories]
modelClass = "Qualitare\LegalInvest\Models\AdCategory"
scope = "scopeParentCategories"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nenhum registro encontrado"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[viewBag]
==

<header class="header">
  
  <!-- desktop -->
  <div class="header__content">    
    <a class="header__logo" href="/" title="LegalInvest" tabindex="1">
			<img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="LegalInvest">
    </a>

    <button class="header__menu-button">
			<img class="menu" src="{{ 'assets/images/header-menu-button-icon.svg'|theme }}" alt="Menu">
			<img class="close" src="{{ 'assets/images/icon-header-close.svg'|theme }}" alt="Menu">
    </button>

    <nav class="header__usermenu">
      <ul class="header__usermenu-list">
        <li class="header__usermenu-list-item">
          <a href="/chat" title="Chat" tabindex="5"><i class="cicon icon-chat-dark"></i> Chat</a>
        </li>
        {% if user %}
          <li class="header__usermenu-list-item">
            <a href="/conta/meus-dados" title="{{user.name}}" tabindex="6"><i class="cicon icon-user"></i> {{user.fullname | slice(0, 15)}}...</a>
            <ul class="header__usermenu-sublist">
              <li class="header__usermenu-sublist-item">
                <a href="/conta/meus-dados" title="Meus dados">Meus dados</a>
              </li>
              <li class="header__usermenu-sublist-item">
                <a href="/conta/meus-anuncios" title="Meus anúncios">Meus anúncios</a>
              </li>
              <li class="header__usermenu-sublist-item">
                <a href="/conta/meus-favoritos" title="Favoritos">Favoritos</a>
              </li>
              <li class="header__usermenu-sublist-item">
                <a data-request="onLogout" data-request-data="redirect: '/entrar'" title="Sair">Sair</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="header__usermenu-list-item">
            <a href="/entrar" title="Entrar" tabindex="5"><i class="cicon icon-user"></i> Entrar</a>
          </li>
        {% endif %}

        <li class="header__usermenu-list-item mr0">
          <a href="/ajuda" title="Ajuda" tabindex="7"><span class="cicon icon-help"></span></a>
          <ul class="header__usermenu-sublist">
            <li class="header__usermenu-sublist-item">
              <a href="/ajuda" title="Ajuda">Ajuda</a>
            </li>
            <li class="header__usermenu-sublist-item">
              <a href="/contato" title="Contato">Contato</a>
            </li>
            </li>
          </ul>
        </li>
        <li class="header__usermenu-list-item mr0" style="position:initial;">
          <a class="gl-blue-button" href="/anuncio/criar" title="Anuncie" tabindex="4">Anuncie</a>
        </li>
      </ul>
    </nav>

    <form class="header__search" method="POST" action="/busca">
      <div class="form-line">
        <input class="form-input" type="text" name="where[term]" placeholder="Faça sua busca aqui" tabindex="2">
        <button class="form-search" tabindex="3">
					<img src="{{ 'assets/images/form-search-icon.svg'|theme }}" alt="Buscar">
        </button>
      </div>
    </form>
  </div>

  <!-- mobile  -->
  <nav class="header__menu">
    <ul class="header__menu-list">
      {% if user %}
        <li class="header__menu-list-item">
          <a href="/conta/meus-dados" title="Meus Dados">Meus Dados</a>
        </li>
        <li class="header__menu-list-item">
          <a href="/conta/meus-anuncios" title="Meus Anúncios">Meus Anúncios</a>
        </li>
        <li class="header__menu-list-item">
          <a href="/conta/meus-favoritos" title="Favoritos">Favoritos</a>
        </li>
        <li class="header__menu-list-item">
          <a data-request="onLogout" data-request-data="redirect: '/entrar'"  title="Sair">Sair</a>
        </li>
      {% else %}
        <li class="header__menu-list-item">
          <a href="/entrar" title="Sair">Entrar</a>
        </li>
      {% endif %}
      <li class="header__menu-list-item divider"></li>
      <li class="header__menu-list-item">
        <a href="/ajuda" title="Ajuda">Ajuda</a>
      </li>
      <li class="header__menu-list-item">
        <a href="/contato" title="Contato">Contato</a>
      </li>
      <li class="header__menu-list-item divider"></li>
      <li class="header__menu-list-item">
        <a href="/chat" title="Chat"><i class="cicon icon-chat"></i>Chat</a>
      </li>
      <li class="header__menu-list-item divider"></li>
      <li class="header__menu-list-item">
        <a class="gl-blue-button" href="/anuncio/criar" title="Anuncie">Anuncie</a>
      </li>
    </ul>
  </nav>

  <nav class="header__submenu">
    <ul class="header__submenu-list">
      {% for category in adCategories.records %}
        <li class="header__submenu-list-item">
            <a href="/busca/{{category.slug}}" title="{{category.name}}" tabindex="8">{{category.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
{% if not this.page.hide_crumb %}
<nav class="gl-breadcrumbs">
    <div class="gl-breadcrumbs__content">{% component 'breadcrumbs' %}</div>
</nav>
{% endif %}