<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('qualitare/legalinvest/profiles') ?>">Profiles</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>