description = "Default layout"

[session]
security = "all"

[newsletter]
==
function onStart() {
	if (env('APP_ENV') == 'production')
		$this->addCss('dist/css/app.css');
}
==
{% component 'session' %}
<!DOCTYPE html>
<html dir="ltr" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LegalInvest - {{ this.page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
		{% styles %}
  </head>
  <body>
    {% partial 'header/template' %}
		{% page %}
		{% partial 'footer/template' %}
    <script src="{{ 'dist/js/jquery.js'|theme }}"></script>    
    {% framework extras %}
    {% scripts %}
    <script type="text/javascript" src="{{ 'dist/js/app.js'|theme }}"></script>
    <script> 
      window.openPGLightbox = function (code){
          PagSeguroLightbox({code: code}, {
            success: function(data) {
              $.request('onOrdered', {data: {code: code}});
            },
            abort:   function(data) {
              $.request('onAbort', { data: {code: code},
                success: function(data) {
                  showFlash(data);
                }
              });
            }
          });
      } 
    </script>
    <script>
      window.addEventListener("load", function(){
        var translations = {
          "inputTooShort" : function(args){
            var remainingChars= args.minimum-args.input.length;
            return 'Digite '+remainingChars+' caracteres ou mais';
          },
          "noResults" : function(){ return "Nenhum resultado encontrado"},
          "searching" : function(){ return "Buscando..."}
        }

        $(".custom-select").each(function(){
          var options = $(this).data('select2').options.options;
          options.language = translations;
          $(this).select2(options);
        });
      });
    </script>
  </body>
</html>
