title = "Senha"
url = "/novasenha"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[resetPassword]
==
<style>
  .forms-desc,
  .forms-link {
    color: #383838;
  }
</style>
<div class="forms-wrapper">
  <form class="forms-form bshdw" 
  data-request="onResetPassword"
  data-request-redirect="/entrar"
  >
    <div class="form-line">
      <a class="form-logo" href="/" title="Legal Invest">
        <img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="Legal Invest">
      </a>
    </div>
    <div class="form-line">
      <h2 class="form-title">Recuperar senha</h2>
      <p class="form-desc">Informe sua nova senha.</p>
    </div>
    <div class="form-line">
      <label class="form-label" for="code">Código</label>
      <input id="email" class="form-input" type="text" name="code" value="{{resetPassword.code}}">
    </div>
    <div class="form-line">
      <label class="form-label" for="password">Nova senha</label>
      <input id="email" class="form-input" type="password" name="password" placeholder="Sua nova senha">
    </div>
    <div class="form-line mb0">
      <button class="gl-blue-button" type="submit">Enviar</button>
    </div>
  </form>
</div>