.search {
  &__filter {
    @include grid-media($desktop-grid) {
      float: left;
      width: 22%;
      margin: 50px 3% 50px 0;
    }

    &-button {
      margin: 0 0 20px 0;
      padding: 0;
      border: none;
      display: block;
      width: 100%;
      height: 24px;
      background: none;
      text-transform: uppercase;
      line-height: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #2BA5FD;

      @include grid-media($desktop-grid) {
        display: none;
      }

      .cicon-label {
        position: relative;
        top: -7px;
      }
    }

    &-form {
      display: none;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px 20px;
      background: #2BA5FD;
      overflow-y: scroll;

      &.active {
        display: block;
      }

      @include grid-media($desktop-grid) {
        display: block;
        position: initial;
        padding: 0;
        background: none;
        overflow-y: initial;
      }

      &-line {
        position: relative;
        margin-bottom: 30px;

        &.search__filter-form-line-m {
          .search__filter-form-select {
            @include grid-media($desktop-grid) {
              display: none;
            }
            
          }

          &.arrow-down {
            &:before {
              @include grid-media($desktop-grid) {
                display: none;
              }
            }
          }
        }
        
        &.arrow-down {
          &:before {
            position: absolute;
            right: 12px;
            bottom: 12px;
            display: block;
            content: "";
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;

            @include grid-media($desktop-grid) {
              border-top-color: #383838;
            }
          }
        }
      }

      &-label {
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #fff;

        @include grid-media($desktop-grid) {
          color: #383838;
        }
      }

      &-select:not(.custom-select),
      &-select ~ .select2 .selection .select2-selection {
        padding: 0 5px;
        width: 100%;
        height: 29px;
        border: 2px solid #fff;
        border-radius: 0;
        background: #2BA5FD;
        line-height: 29px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        border-color: #fff;
        
        @include grid-media($desktop-grid) {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-color: #383838;
          color: #383838;
          background: #f2f5f7;
        }
      }

      &-select-area {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        display: none;
        width: 100%;
        overflow: hidden;
        border: none;
        background: transparent;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #98A0A4;

        @include grid-media($desktop-grid) {
          display: block;
        }

        .option {
          cursor: pointer;

          &:hover {
            color: #383838;
          }

          &.active {
            color: #2BA5FD;
          }
        }
      }

      &-minmax {
        @include clearfix;

        input {
          outline: none;
          float: left;
          padding: 0 5px;
          display: block;
          width: 43%;
          height: 29px;
          border: 2px solid #fff;
          border-right: none;
          background: transparent;
          line-height: 29px;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: #fff;

          @include grid-media($desktop-grid) {
            border-color: #383838;
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.5);

            @include grid-media($desktop-grid) {
              color: #98A0A4;
            }
          }
        }

        button {
          cursor: pointer;
          outline: none;
          float: left;
          display: block;
          margin: 0;
          padding: 0;
          border: none;
          background: #fff;
          width: 14%;
          height: 29px;

          &:hover {
            @include grid-media($desktop-grid) {
              background: #383838;
            }
          }

          @include grid-media($desktop-grid) {
            background: #2BA5FD;

            .icon-right {
              background: url('/themes/frontend/assets/images/icon-right-inverse.svg');
            }
          }
        }
      }

      .gl-gray-button,
      .gl-blue-button {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
      .gl-gray-button {
        background: #383838;
        color: #fff !important;

        @include grid-media($desktop-grid) {
          display: none;
        }
      }
      
      .gl-blue-button {
        line-height: 38px;
        border: 2px solid #fff;

        @include grid-media($desktop-grid) {
          display: none;
        }
      }
    }
  }

  &__results {
    margin: 0 -10px;
    padding: 20px;
    background: #fff;

    @include grid-media($desktop-grid) {
      float: left;
      margin: 50px 0 0 0;
      width: 75%;
    }

    .gl-sales-item {
      padding: 0 0 20px;
      margin: 0 0 20px;
      border-bottom: 2px solid #F2F5F7;

      &:last-child {
        padding: 0;
        margin: 0;
        border-bottom: none;
      }
    }
  }

  &__paginate {
    float: left;
    margin: 30px 0 0;
    width: 100%;
    height: 106px;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    @include grid-media($desktop-grid) {
      float: right;
      margin: 50px 0 100px;
      width: 75%;
      height: 38px;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      &-item {
        display: inline-block;

        &.active,
        &.item-page:hover {
          a {
            background: #fff;
            color: #383838;
          }
        }

        &.item-page {
          width: 38px;
          height: 38px;

          a {
            display: block;
            width: 38px;
            height: 38px;
            text-align: center;
            line-height: 38px;
            font-weight: 400;
            color: #98A0A4;
          }
        }

        &.item-prev,
        &.item-next {
          position: absolute;
          top: 68px;

          @include grid-media($desktop-grid) {
            top: 0;
          }

          .icon-right-dark,
          .icon-left-dark {
            position: relative;
            top: 2px;
          }
          
          .icon-right-dark {
            margin-left: 5px;
          }
          
          .icon-left-dark {
            margin-right: 5px;
          }
        }
        
        &.item-prev {
          left: 0;

          a {
            &:hover {
              .icon-left-dark {
                background: url('/themes/frontend/assets/images/icon-left-inverse.svg');
              }
            }
          }
        }

        &.item-next {
          right: 0;

          a {
            &:hover {
              .icon-right-dark {
                background: url('/themes/frontend/assets/images/icon-right-inverse.svg');
              }
            }
          }
        }
      }
    }
  }
}
