title = "Busca"
url = "/busca/:category_slug?"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[search]
category_slug = "{{:category_slug}}"
==
<div class="wrapper ads-search">
  <div class="search__filter">
    <button class="search__filter-button">
      <i class="cicon icon-filter"></i>
      <span class="cicon-label">Filtrar Resultado</span>
    </button>
    <form id="search-filter" class="search__filter-form" action="busca" method="get">
      <div class="search__filter-form-line search__filter-form-line-m arrow-down">
        <label class="search__filter-form-label">Ordem</label>
        <select class="search__filter-form-select">
          {% for id, name in search.order %}
            <option value="{{search.filters.order}}" {{ orderId == id ? 'selected' : '' }}>{{name}}</option>
          {% endfor %}
        </select>
        <div class="search__filter-form-select-area" style="overflow:initial;">
          <input 
          type="hidden" 
          name="order" 
          value="{{search.filters.order}}" 
          onchange="this.form.submit()"
          >
          {% for id, name in search.order %}
            <div class="option {{search.filters.order == id ? 'active' : ''}}" data-value="{{id}}" tabindex="91">{{name}}</div>
          {% endfor %}
        </div>
      </div>

      <div class="search__filter-form-line search__filter-form-line-m arrow-down">
        <label class="search__filter-form-label">Categoria</label>
        <select class="search__filter-form-select" name="">
          <option value="">Todas</option>
          {% for category in search.categories %}
            <option value="{{category.id}}" {{ search.filters.where.category_id == category.id ? 'selected' : '' }}>
              {{category.name}}
            </option>
          {% endfor %}
        </select>
        <div class="search__filter-form-select-area" style="overflow:initial;">
          <input 
          name="where[category_id]" 
          type="hidden" 
          value="{{search.filters.where.category_id}}"
          onchange="this.form.submit()"
          >
            <div class="option" data-value="0" tabindex="99">Todas</div>
            {% for category in search.categories %}
            <div class="option {{search.filters.where.category_id == category.id ? 'active' : ''}}" data-value="{{category.id}}" tabindex="98" >{{category.name}}</div>
            {% endfor %}
        </div>
      </div>

      <div class="search__filter-form-line arrow-down mb10">
        <label class="search__filter-form-label">Local</label>

        <select 
          class="search__filter-form-select custom-select"
          data-handler="onGetStateOptions"
          data-minimum-input-length="2"
          name="where[state_id]" 
          tabindex="91"
          data-placeholder="Todos os estados"
          onchange="this.form.submit()"
        >
            {% if search.state %}
                <option value={{search.state.id}} selected>{{search.state.name}}</option>
            {% endif %}
        </select>
      </div>
      
      <div class="search__filter-form-line arrow-down">
        <select 
          class="search__filter-form-select custom-select"
          data-handler="onGetCityOptions"
          data-minimum-input-length="2"
          name="where[city_id]" 
          tabindex="91"
          data-placeholder="Cidade"
          onchange="this.form.submit()"
        >
            {% if search.city %}
                <option value={{search.city.id}} selected>{{search.city.name}}</option>
            {% endif %}
        </select>
      </div>

      <div class="search__filter-form-line arrow-down mb10">
        <label class="search__filter-form-label">Preço de Venda</label>
        <select 
        class="search__filter-form-select" 
        name="where[price_partial][range]" 
        tabindex="107"
        onchange="this.form.submit()"
        >
          <option value="0">Qualquer valor</option>
          {% for id, name in search.priceRanges %}
            <option value="{{id}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="search__filter-form-line">
        <div class="search__filter-form-minmax">
          <input type="text" name="where[price_partial][min]" value="{{search.filters.where.price_partial.min}}"placeholder="Mínimo" tabindex="108">
          <input type="text" name="where[price_partial][max]" value="{{search.filters.where.price_partial.max}}"placeholder="Máximo" tabindex="109">
          <button type="button" onclick="this.form.submit()">
            <i class="icon-right"></i>
          </button>
        </div>
      </div>

      <div class="search__filter-form-line arrow-down mb10">
        <label class="search__filter-form-label">Valor do Processo</label>
        <select 
        class="search__filter-form-select" 
        name="where[price_total][range]" 
        tabindex="110"
        onchange="this.form.submit()"
        >
          <option value="">Qualquer valor</option>
          {% for id, name in search.priceRanges %}
            <option value="{{id}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="search__filter-form-line">
        <div class="search__filter-form-minmax">
          <input type="text" name="where[price_total][min]" value="{{search.filters.where.price_total.min}}" placeholder="Mínimo" tabindex="111">
          <input type="text" name="where[price_total][max]" value="{{search.filters.where.price_total.max}}" placeholder="Máximo" tabindex="112">
          <button type="button" onclick="this.form.submit()">
            <i class="icon-right"></i>
          </button>
        </div>
      </div>
      
      <div class="search__filter-form-line mb10">
        <button class="search__filter-filter gl-gray-button" type="submit">Filtrar</button>
      </div>

      <div class="search__filter-form-line mb0">
        <button class="search__filter-cancel gl-blue-button" type="button">Cancelar</button>
      </div>
    </form>
  </div>

  {% if not search.ads.count() %}
    {% partial 'anuncio/nenhum-resultado.htm' %}
  {% else %}
    <div class="search__results bshdw">
      {% for ad in search.ads%}
        <div class="gl-sales-item">
          <p class="gl-sales-item-desc">
            <a href="/anuncio/{{ad.slug}}" title="">{{ad.title}}</a>
          </p>
          
          <a class="gl-sales-item-cat gl-sales-item-cat-m" title="{{ad.category.name}}" href="/busca/{{ad.category.slug}}">{{ad.category.name}}</a>
          <a class="gl-sales-item-cat gl-sales-item-cat-s" title="{{ad.subcategory.name}}" href="/busca/{{ad.category.slug}}">{{ad.subcategory.name}}</a>
          <div style="clear: both;"></div>

          <p class="gl-sales-item-price">R$ {{ad.price_partial | number_format(2, ',', '.')}}</p>

          <div class="gl-sales-item-price-desc">
            <p class="gl-sales-item-price-desc-l">Valor do Processo</p>
            <p class="gl-sales-item-price-desc-p">R$ {{ad.price_total | number_format(2, ',', '.')}} <b>({{ad.price_diff}})</b></p>
          </div>
          
          {% if user %}
          <a class="gl-sales-item-star" 
            data-request="onToggleFavorite" 
            data-request-url="/conta/toggle-favorite/{{ad.id}}" 
            data-request-success="toggleFavoriteStar(this, data)"
            title="Favoritar">
              <i class="cicon icon-star {{ user and ad.userfavorite ? 'active' : ''}}"></i>
          </a>
          {% endif %}
          
        </div>
      {% endfor %}
    </div>
    <nav class="search__paginate">
      <ul class="search__paginate-list">
        <li class="search__paginate-list-item item-prev">
          <a class="gl-gray-button" href="{{search.ads.previousPageUrl}}" title="Anterior">
            <i class="icon-left-dark"></i> Anterior
          </a>
        </li>
        {% for page in 1..search.ads.lastPage %}
          <li class="search__paginate-list-item item-page">
            <a href="{{search.ads.url(page)}}" title="{{page}}">{{page}}</a>
          </li>
        {% endfor %}
        <li class="search__paginate-list-item item-next">
          <a class="gl-gray-button" href="{{search.ads.nextPageUrl}}" title="Próxima">Próxima <i class="icon-right-dark"></i></a>
        </li>
      </ul>
    </nav>
  {% endif %}
</div>
