title = "Termos de uso"
url = "/termos"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails Pages]
modelClass = "Qualitare\LegalInvest\Models\Page"
identifierValue = "termos"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

==

<div class="wrapper">
  <div class="termos">
    <article class="gl-article">
      <h1>{{record.title}}</h1>
      {{record.text | raw}}
    </article>
  </div>
</div>