title = "Anuncio Removido"
url = "/anuncio-removido"
layout = "default"
==
<style>
  .not-found-links a:hover {
    color: #383838 !important;
  }
</style>
<div class="wrapper">
  <div class="not-found">
    <h2 class="not-found-title">Anúncio removido</h2>
    <p class="not-found-desc">Parece que você tentou acessar um anúncio que não existe mais. Volte a navegar acessando um dos links abaixo:</p>
    <nav class="not-found-links">
      <a href="/" title="Início">Início</a>
      <a href="/busca" title="Buscar">Buscar</a>
      <a href="/anuncio/criar" title="Anunciar">Anunciar</a>
      <a href="/sobre" title="Sobre Nós">Sobre Nós</a>
      <a href="/conta/meus-dados" title="Conta">Conta</a>
      <a href="/ajuda" title="Ajuda">Ajuda</a>
    </nav>
  </div>
</div>
