title = "Categoria da ajuda"
url = "/ajuda/:cat"
layout = "default"
is_hidden = 0
child_of = "ajuda/template"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "crumb-title"
crumb_disabled = 0

[builderDetails Category]
modelClass = "Qualitare\LegalInvest\Models\HelpCategory"
identifierValue = "{{ :cat }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"

[builderList Posts]
modelClass = "Qualitare\LegalInvest\Models\HelpPost"
scope = "scopeByCategory"
scopeValue = "{{ :cat }}"
displayColumn = "help_category_id"
noRecordsMessage = "No records found"
detailsPage = "ajuda-post/template"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set category = Category.record %}
{% if category %}
<div class="wrapper">
  <div class="faq">
    <a class="gl-leaked-button" href="/ajuda" title="Voltar">Voltar</a>

    <h2 class="faq-subtitle">Ajuda com<span id="crumb-title"> {{category.name}}</span></h2>
    <ul class="faq-links">
      {% if records.count > 0 %}
        {% for record in records %}
          <li class="faq-links-item">
            <a href="/ajuda/{{category.slug}}/{{record.url}}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">{{record.title}}</a>
          </li>
        {% endfor %}
      {% else %}
        {{ Posts.noRecordsMessage }}
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}