title = "Post da ajuda"
url = "/ajuda/:cat/:slug"
layout = "default"
is_hidden = 0
child_of = "ajuda-categoria/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[helpPostDetails Post]
slug = "{{ :slug }}"

[builderDetails Category]
modelClass = "Qualitare\LegalInvest\Models\HelpCategory"
identifierValue = "{{ :cat }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==

{% set post = Post.record %}
<div id="modal-faq" class="modal">
  <div class="v-align">
    <div class="v-align-middle">

      <div class="modal-content">
        <button class="modal-close modal-close-button">
          <i class="cicon icon-close"></i>
        </button>

        <h4 class="modal-title">Ainda precisa de ajuda?</h4>

        <p class="modal-desc">Lamentamos que não tenha encontrado a resposta que buscava. Gostaria de nos enviar sua dúvida? Ajudaremos o quanto antes.</p>

        <ul class="modal-options">
          <li class="modal-option">
            <a class="gl-blue-button" href="/contato" title="Sim, entrar em contato">Sim, entrar em contato</a>
          </li>
          <li class="modal-option">
            <a class="modal-close-button gl-gray-button" href="" title="Fechar">Fechar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="faq">
    <article class="faq-article gl-article">
      <h1>{{post.title}}</h1>
      {{post.text | raw }}
    </article>

    <div class="gl-article-votes">
      <p>Isto resolveu o seu problema?</p>
      <a class="thumbsup" data-request="onHelped" 
      data-request-success="showFlash(data)"
      title="Sim">Sim <i class="cicon icon-thumbsup"></i></a>
      <a class="thumbsdown modal-button" href="" title="Não" data-target="#modal-faq">Não <i class="cicon icon-thumbsdown"></i></a>
    </div>
  </div>
</div>