title = "Anunciar"
url = "/anuncio/editar/:id"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[ads]
paramCode = "code"
forceSecure = 0
id = {{ :id }}
==
<div class="wrapper">
  <form id="ad-form" class="adv__form"  data-request="onSave">
    <h1 class="adv__form-title">Editar anúncio</h1>
    
      {% partial "anuncio/form-fields.htm" %}
      
      <div class="form-line text-center">
          <button class="gl-blue-button" type="submit">Salvar anúncio</button>
      </div>
  </form>
</div>