.adv {
  &__sent {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #383838;
    
    @include grid-media($desktop-grid) {
      padding: 50px 0 200px 0;
    }

    img {
      display: inline-block;
      margin-bottom: 30px;
    }

    &-title {
      margin: 0 0 20px 0;
      font-weight: 500;
      font-size: 22px;

      @include grid-media($desktop-grid) {
        font-size: 26px;
      }
    }

    &-desc {
      margin: 0 0 15px;
      line-height: 21px;
      font-weight: 400;
      font-size: 14px;

      @include grid-media($desktop-grid) {
        margin: 0 0 30px;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}