title = "Anunciar"
url = "/anunciar-aguardando"
layout = "default"
==
<nav class="gl-breadcrumbs">
  <div class="gl-breadcrumbs__content">
    <a href="/index" title="Início">Início</a>
    /
    Busca
  </div>
</nav>

<div class="wrapper">
  <div class="adv__sent">
		<img src="{{ 'assets/images/airplane.svg'|theme }}" alt="Lupa">
    <h2 class="adv__sent-title">Anúncio enviado com sucesso</h2>
    <p class="adv__sent-desc">Antes de publicarmos seu anúncio precisamos analisá-lo e checar se está tudo ok. Em até 24 horas lhe<br>avisaremos por email.</p>
    <a class="gl-leaked-button" href="/conta/meus-anuncios" title="Ver meus anúncios">Ver meus anúncios</a>
  </div>
</div>
