.forms {
  &-wrapper {
    margin: 50px 0;
    padding: 0 10px;
  }

  &-form {
    margin: 0 0 20px;
    padding: 20px;
    background: #fff;

    @include grid-media($desktop-grid) {
      margin: 0 auto 20px;
      padding: 30px;
      max-width: 360px;
    }

    .form-line {
      position: relative;
    }

    .form-title,
    .form-desc {
      text-align: center;
    }

    .form-help {
      margin: 0;
      text-align: center;

      &.recovery-password {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
      }
    }

    .gl-blue-button,
    .gl-leaked-button {
      width: 100%;
      text-align: center;
    }
  }

  &-desc {
    margin: 0 0 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  &-links {
    text-align: center;
  }

  &-link {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;

    &:hover {
      color: #2BA5FD;
    }
  }
}