title = "Entrar"
url = "/entrar"
layout = "default"
is_hidden = 0
child_of = "home/template"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[login]
paramCode = "code"
forceSecure = 0
==
<style>
  html, body {
    min-height: 100%;
  }
  body {
    background: url('/themes/frontend/assets/images/login-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .forms-desc,
  .forms-link {
    color: #fff;
  }
  .forms-link {
    font-size: 16px;
  }
  .forms-link:hover {
    color: #383838;
  }
</style>
<div class="forms-wrapper">
  {% partial 'conta/entrar-form.htm' %}
  <p class="forms-desc">Não possui uma conta?</p>
  <div class="forms-links">
    <a class="forms-link" href="/cadastrar" title="Cadastre-se">Cadastre-se</a>
  </div>
</div>