title = "Busca"
url = "/ajuda/busca"
layout = "default"

[helpsearch]
noRecordsMessage = "Nenhum post encontrado."

==
<div class="wrapper help-search">
  <div class="faq">
    <a class="gl-leaked-button" href="/ajuda" title="Voltar">Voltar</a>

    <h2 class="faq-subtitle">
      Busca em ajuda para "{{helpsearch.filters['where']['term']}}"
    </h2>
    <ul class="faq-links">
      {% if helpsearch.posts.count > 0 %}
        {% for record in helpsearch.posts %}
          <li class="faq-links-item">
            <a href="/ajuda/{{record.category.slug}}/{{record.url}}" title="{{record.title}}">{{record.title}}</a>
          </li>
        {% endfor %}
      {% else %}
        {{ helpsearch.noRecordsMessage }}
      {% endif %}
    </ul>
    
    <form id="search-filter" method="POST">
      <input type="hidden" name="where[term]" value="{{helpsearch.filters['where']['term']}}">
    </form>

    <nav class="search__paginate help__paginate">
      <ul class="search__paginate-list">
        <li class="search__paginate-list-item item-prev">
          <a class="gl-gray-button" href="{{helpsearch.posts.previousPageUrl}}" title="Anterior">
            <i class="icon-left-dark"></i> Anterior
          </a>
        </li>
        {% for page in 1..helpsearch.posts.lastPage %}
        <li class="search__paginate-list-item item-page">
          <a href="{{helpsearch.posts.url(page)}}" title="{{page}}">{{page}}</a>
        </li>
        {% endfor %}
        <li class="search__paginate-list-item item-next">
          <a class="gl-gray-button" href="{{helpsearch.posts.nextPageUrl}}" title="Próxima">Próxima <i class="icon-right-dark"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
