<div class="form-line">
    <label class="form-label radio" for="">Selecione a categoria</label>
    {% set ad = ads.ad %}
    {% for category in ads.categories %}
    <div class="adv__form-radio {{ad.category.id == category.id ? 'active'}}">
        <div class="adv__form-radio-mask" tabindex="91">
        <div class="adv__form-radio-mask-icon">
            <div class="v-align">
            <div class="v-align-middle">
                <img src="{{category.icon.path}}" alt="{{category.name}}">
            </div>
            </div>
        </div>
        <div class="adv__form-radio-mask-label">{{category.name}}</div>
        </div>
        <input type="radio" name="category_id" value="{{category.id}}" {{ad.category.id == category.id ? 'checked'}}>
    </div>
    {% endfor %}

</div>

<div class="form-line arrow-down mb50">
<label class="form-label" for="subcategory">Selecione a subcategoria</label>
<select class="form-select" name="subcategory_id" tabindex="91">
    {% for subcategory in ads.subcategories %}
        <option value="{{subcategory.id}}" {{ad.subcategory.id == subcategory.id ? 'selected'}}>{{subcategory.name}}</option>
    {% endfor %}
</select>
</div>

<h2 class="adv__form-title">Descreva seu anúncio</h2>

<div class="form-line">
<label for="" class="form-label">Título:</label>
<input name="title" class="form-input" type="text" placeholder="Exemplo: Lorem ipsum dolor sit amet" tabindex="91" value="{{ad.title}}">
<p class="form-help">Restam 10 caracteres</p>
</div>

<div class="form-line">
<label for="" class="form-label">Descricão</label>
<textarea name="body" class="form-textarea" placeholder="Descreva com mais detalhes seu anúncio" tabindex="91">{{ad.body}}</textarea>
</div>

<div class="form-line form-column">
<label for="" class="form-label">Valor de Venda (R$)</label>
<input name="price_partial" value="{{ad.price_partial}}" class="form-input" type="text" placeholder="Por quanto você quer vender?" tabindex="91">
</div>

<div class="form-line form-column">
<label for="" class="form-label">Valor do processo (R$)</label>
<input name="price_total" value="{{ad.price_total}}" class="form-input" type="text" placeholder="Quanto poderá ser sacado?" tabindex="91">
</div>

<div class="form-line form-column arrow-down">
    <label for="" class="form-label">Localização do Processo</label>
    <select 
        class="custom-select"
        data-handler="onGetStateOptions"
        data-minimum-input-length="2"
        name="state_id" 
        tabindex="91"
        data-placeholder="Estado"
    >
        {% if ad.state %}
            <option value={{ad.state.id}} selected>{{ad.state.name}}</option>
        {% endif %}
    </select>
</div>

<div class="form-line form-column form-column-top arrow-down">
    <select 
        class="custom-select"
        data-handler="onGetCityOptions"
        data-minimum-input-length="2"
        name="city_id" 
        tabindex="91"
        data-placeholder="Município"
    >
        {% if ad.city %}
            <option value={{ad.city.id}} selected>{{ad.city.name}}</option>
        {% endif %}
    </select>
</div> 

<!-- <div class="form-line arrow-down mb50">
<label for="" class="form-label">Selecione o Tribunal</label>
<select class="form-select" tabindex="91">
    <option value="">Selecione</option>
</select>
</div> -->
