<div class="search__nothing">
		<img src="{{ 'assets/images/search.svg'|theme }}" alt="Lupa">
    <h2 class="search__nothing-title">Nada encontrado</h2>
    <p class="search__nothing-desc">Certifique-se de que os filtros estão corretos ou reduza a quantidade de filtros na pesquisa.</p>
</div>
