.form-column-top .select2{
    top: -1px;
}

.select2 .selection .select2-selection {
    padding: 0 20px;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: 2px solid #383838;
    border-radius: 0;
    background: #f2f5f7;
    border-color: #383838;
}

.select2 .selection .select2-selection *{
    color: #383838;
}

*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    -webkit-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-dropdown {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    margin-top: -1px;
    overflow-x: hidden;
    background: #f2f5f7;
    border: 2px solid #383838;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    position: absolute;
    width: 100%;
    z-index: 10400;
    border-top: none;
}

.select2-container--default .select2-results>.select2-results__options {
    font-size: 14px;
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #383838;
    color: #fff;
}

.select2-container--default .select2-search--dropdown {
    position: relative;
    border-color:#383838;
    border-top: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    -webkit-box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    background: #f2f5f7;
    border: 1px solid #d1d6d9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    color: #383838;
    font-size: 14px;
}

/* icon: search */
.select2-container--default .select2-search--dropdown:after {
    display: block;
}

.select2-container--default .select2-search__field {
    outline: 0;
}

.select2-container--default .select2-search__field::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

.select2-container--default .select2-search__field::-webkit-input-placeholder, .select2-container--default .select2-search__field:-moz-placeholder, .select2-container--default .select2-search__field:-ms-input-placeholder {
    color: #ccc;
}

.select2-container--default .select2-selection {
    -webkit-box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #fff;
    border: 1px solid #d1d6d9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    color: #383838;
    font-size: 14px;
    outline: 0;
}

.select2-container--default .select2-selection--single {
    height: 38px;
    line-height: 1.42857143;
    padding: 8px 25px 8px 13px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    bottom: 0;
    position: absolute;
    right: 13px;
    top: 0;
    width: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 9px;
    line-height: 9px;
    margin-top: -5px;
    position: absolute;
    right: 3px;
    top: 50%;
    width: 8px;
}

/*icon: arrow down*/
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #383838;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
}

.select2-container--default, .select2-results {
    display: block;
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0000);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.select2-results__option {
    -webkit-user-select: none;
    padding: 6px;
    user-select: none;
}

.select2-results__option[aria-selected] {
    cursor: pointer;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
}

.select2-search--dropdown .select2-search__field {
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}

b {
    font-weight: 700;
}

input {
    background-image: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    text-transform: none;
}

ul {
    margin-bottom: 10px;
    margin-top: 0;
}

@media print {
    * {
        background: transparent!important;
        box-shadow: none!important;
        color: #000!important;
        text-shadow: none!important;
    }
    select {
        background: #fff!important;
    }
}
