title = "Recuperar senha"
url = "/recuperarsenha"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[resetPassword]
paramCode = "code"
resetPage = 'nova-senha/template.htm'


[login]
paramCode = "code"
forceSecure = 0
==
<style>
  .forms-desc,
  .forms-link {
    color: #383838;
  }
</style>
<div class="forms-wrapper">
  <form class="forms-form bshdw" 
  data-request="onRestorePassword"
  data-request-redirect="/recuperar-senha-enviado"
  >
    <div class="form-line">
      <a class="form-logo" href="/" title="Legal Invest">
        <img src="{{ 'assets/images/legalinvest-logo.svg'|theme }}" alt="Legal Invest">
      </a>
    </div>
    <div class="form-line">
      <h2 class="form-title">Recuperar senha</h2>
      <p class="form-desc">Informe seu email de cadastro. Nós lhe enviaremos um link para que você crie uma nova senha.</p>
    </div>
    <div class="form-line">
      <label class="form-label" for="email">Email</label>
      <input id="email" class="form-input" type="email" name="email" placeholder="E-mail de cadastro">
    </div>
    <div class="form-line mb0">
      <button class="gl-blue-button" type="submit">Enviar</button>
    </div>
  </form>
</div>